<script setup></script>

<template>
  <div class="desktop-header">
    <NuxtLink
      class="banner-link"
      to="/?skipLoading=true"
    />
  </div>
</template>

<style lang="scss" scoped>
.banner-link {
  display: block;
  height: 120px;
  background-color: #e9effd;
  background-image: url('@/assets/img/election/banner-index.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
</style>
