<script setup>
const isCountDownShown = ref(false)
const isAreaSearchShown = ref(false)
const MapSearch = ref(null)

// const onClickCountDownButton = () => {
//   isCountDownShown.value = !isCountDownShown.value
// }

// const onClickSearch = () => {
//   MapSearch.value.onClickOpenPopup()
//   isAreaSearchShown.value = true
// }

const onAreaSearchClose = () => {
  isAreaSearchShown.value = false
}
</script>

<template>
  <div class="mobile-header relative">
    <div class="flex items-center justify-between p-2">
      <div class="logo p-3 mr-1">
        <NuxtLink to="/?skipLoading=true">
          <img
            class="icon max-w-md w-full"
            src="@/assets/img/election/logo.png"
          >
        </NuxtLink>
      </div>
      <!-- <div class="flex">
        <button
          class="w-14 h-14 rounded-xs mr-4 flex items-center justify-center btn"
          :class="{'btn--active': isCountDownShown}"
          @click="onClickCountDownButton"
        >
          <img
            class="icon"
            src="@/assets/svg/election/time.svg"
          >
        </button>
        <button
          class="w-14 h-14 rounded-xs flex items-center justify-center btn"
          :class="{'btn--active': isAreaSearchShown}"
          @click="onClickSearch"
        >
          <img
            class="icon"
            src="@/assets/svg/election/search.svg"
          >
        </button>
      </div> -->
    </div>

    <div class="relative">
      <transition name="fade">
        <div
          v-if="isCountDownShown"
          class="absolute w-full z-20 flex justify-center"
          style="background-color: rgba(247, 248, 253, 0.9);"
        >
          <PartialsCountDown />
        </div>
      </transition>
      <div
        v-if="isCountDownShown"
        class="fixed left-0 top-0 w-full h-full z-10"
        @click="isCountDownShown=false"
      />
    </div>

    <client-only>
      <IndexAreaSearch
        ref="MapSearch"
        @close="onAreaSearchClose"
      />
    </client-only>
  </div>
</template>

<style lang="scss" scoped>
.btn {
  background-color: #f1f6ff;

  .icon {
    filter:
      brightness(0)
      saturate(100%)
      invert(45%)
      sepia(69%)
      saturate(4672%)
      hue-rotate(180deg)
      brightness(94%)
      contrast(101%);
  }

  &--active {
    background-color: #0089db;

    .icon {
      filter:
        brightness(0)
        saturate(100%)
        invert(100%)
        sepia(0%)
        saturate(0%)
        hue-rotate(93deg)
        brightness(103%)
        contrast(103%);
    }
  }
}

</style>
