<script setup>
const props = defineProps({
  data: {
    type: Object,
    required: true
  },
  target: {
    type: String,
    default: null
  }
})

const { MAIN_ORIGIN } = useRuntimeConfig().public
const url = computed(() => {
  if (!props.data) return
  return props.data.target_type === 'link'
    ? props.data.url
    : `${MAIN_ORIGIN}/news/items/${props.data.target_id}`
})
const isExternalLink = computed(() => url.value?.startsWith('http'))

defineExpose({
  url
})
</script>

<template>
  <NuxtLink
    class="news-link"
    :to="url"
    :target="isExternalLink ? '_blank' : target"
  >
    <slot />
  </NuxtLink>
</template>
