<script setup>
const props = defineProps({
  title: {
    type: String,
    required: true
  },
  feed: {
    type: Array,
    required: true,
    default: () => []
  },
  target: {
    type: String,
    default: null
  }
})

// const getURL = inject('get-url')
const marqueeDur = computed(() => `${props.feed.length * 10}s`)
</script>

<template>
  <div
    class="news-marquee text-yellow-400 text-lg flex md:text-sm"
    :style="{ '--duration': marqueeDur }"
  >
    <div class="title text-black bg-yellow-400 flex-shrink-0 flex items-center em:pl-5 em:pr-8 z-10">
      {{ title }}
    </div>
    <div class="marquee text-base md:em:text-base overflow-hidden flex-1 flex em:pl-8 em:-ml-8">
      <ul class="marquee-track grid grid-flow-col gap-1.5 place-items-center auto-cols-max">
        <li
          v-for="news in feed"
          :key="news.target_id"
        >
          <NewsLink
            :data="news"
            :target="target"
            class="flex items-center em:gap-2 em:p-3"
          >
            <span>{{ news.title }}</span>
            <span class="text-white text-xs">{{ $time(news.release_at) }}</span>
          </NewsLink>
        </li>
      </ul>
      <ul class="marquee-track grid grid-flow-col gap-1.5 place-items-center auto-cols-max">
        <li
          v-for="news in feed"
          :key="news.target_id"
        >
          <NewsLink
            :data="news"
            class="flex items-center em:gap-2 em:p-3"
          >
            <span>{{ news.title }}</span>
            <span class="text-white text-xs">{{ $time(news.release_at) }}</span>
          </NewsLink>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.title {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.marquee-track {
  animation: marquee var(--duration, 50s) linear infinite;
}
</style>
