<script setup>
import { useEventBus } from '@vueuse/core'
import { useUserStore } from '@/store/user'
import { useCommentStore } from '@/store/comment'

const INITIAL_FORM_DATA = {
  reason: '廣告/垃圾訊息',
  text: ''
}

const reasonOptions = [
  { value: '廣告/垃圾訊息' },
  { value: '內容不實或具威脅性' },
  { value: '色情暴力' },
  { value: '惡性洗版' },
  { value: '其他原因' }
]

const actionMap = {
  report: reportMessage,
  delete: deleteMessage,
  edit: editMessage,
  react: reactMessage
}

const props = defineProps({
  type: {
    type: String,
    required: true,
    validator: () => ['news', 'video', 'poll', 'candidate'],
    default: 'news'
  },
  id: {
    type: String,
    required: true,
    default: '{NewsHashId}'
  },
  title: {
    type: [String, Boolean],
    required: false,
    default: '留言衝人氣'
  },
  sort: {
    type: Number, // 1: newest 3: trending
    default: 1
  },
  loginHint: {
    type: String,
    default: '登入留言有機會獲得旺幣哦！'
  },
  loginText: {
    type: String,
    default: '登入留言'
  },
  submitText: {
    type: String,
    default: '留言'
  },
  anonymousText: {
    type: String,
    default: '使用訪客模式留言'
  },
  placeholder: {
    type: String,
    default: '我想說...'
  },
  customLeavePanel: {
    type: Boolean,
    default: false
  }
})

const commentStore = useCommentStore()
const currentUser = useUserStore()
const route = useRoute()
const bus = useEventBus('msg-action')
const { goLogin } = useAuth(route.fullPath)
const state = reactive({
  max: 5,
  id: '',
  editMode: '',
  pending: computed(() => commentStore.pending)
})
const modal = reactive({
  board: false,
  report: false,
  delete: false
})

const formData = reactive({ ...INITIAL_FORM_DATA })

// 初始留言版store
await commentStore.init(props)

// 註冊留言相關操作事件
bus.on((event) => {
  const { id, action } = event
  state.id = id

  switch (action) {
    case 'report':
      modal.report = true
      break
    case 'delete':
      modal.delete = true
      break
    default:
      actionMap[action](event)
  }
})

watch(() => modal.report, (open) => {
  if (!open) {
    Object.assign(formData, INITIAL_FORM_DATA)
  }
})

watch(() => route.path, () => {
  commentStore.$reset()
})

async function onFilterChanged (type) {
  commentStore.refresh({ sort: type, page: 1 })
}

async function editMessage ({ id, data }) {
  try {
    await commentStore.edit(id, data)
    state.editMode = ''
  } catch (e) {}
}

async function reactMessage ({ id, data }) {
  commentStore.react(id, data)
}

async function deleteMessage () {
  return commentStore.delete(state.id)
}

async function reportMessage () {
  return commentStore.report(state.id, formData)
}

provide('state', state)
</script>

<template>
  <div
    v-bind="$attrs"
    :key="id"
    class="msg-board text-lg md:text-base"
  >
    <section class="grid grid-flow-row gap-10 mb-8 md:gap-6">
      <header class="flex md:flex-col">
        <h2
          v-if="title"
          class="text-3xl flex items-center"
        >
          {{ title }}
          <span
            v-show="commentStore.total"
            class="ml-2 bg-blue-300 text-theme-2 inline-block px-3 py-1 rounded-full text-base"
          >{{ commentStore.total }}則留言</span>
        </h2>
        <div
          v-if="!currentUser.isLoggedIn && !customLeavePanel"
          class="text-base flex items-center ml-auto"
        >
          {{ loginHint }}
          <BaseButton
            class="text-lg md:text-base ml-2 rounded-xs"
            @click="goLogin()"
          >
            {{ loginText }}
          </BaseButton>
        </div>
      </header>
      <main v-if="!customLeavePanel">
        <MessageLeave :placeholder="placeholder" />
      </main>
    </section>
    <div class="grid grid-flow-row gap-4">
      <MessageList
        :data="commentStore.comments.slice(0, state.max)"
        :initial-filter="sort"
        @filter-changed="onFilterChanged"
      />
      <button
        v-if="commentStore.total > state.max"
        type="button"
        class="bg-blue-100 text-primary font-medium text-center p-4 hover:text-theme-2 rounded transition-all"
        @click="modal.board = !modal.board"
      >
        顯示更多留言
      </button>
    </div>
  </div>
  <LazyBaseModal
    v-model:open="modal.board"
    class="msg-panel"
  >
    <div class="pt-4 pb-8 px-4 mx-auto">
      <div class="grid grid-flow-col gap-3 place-content-between items-center sticky top-0 mb-2 -mx-1 px-1 py-4 z-10 bg-[#f6f6f6]">
        <h2 class="text-3xl flex items-center">
          <button
            type="button"
            class="mr-2 "
            @click="modal.board = false"
          >
            <span class="material-icons-round block">
              west
            </span>
          </button>
          留言衝人氣
          <span
            v-show="commentStore.total"
            class="ml-2 bg-blue-300 text-theme-2 inline-block px-3 py-1 rounded-full text-base"
          >{{ commentStore.total }}則留言</span>
        </h2>
      </div>
      <MessageList
        key="modal"
        :data="commentStore.comments"
        @filter-changed="onFilterChanged"
      />
      <InfiniteScroll
        class="mt-4"
        :activated="!commentStore.completed"
        @trigger="commentStore.load"
      >
        <span />
      </InfiniteScroll>
    </div>
  </LazyBaseModal>
  <!-- REPORT MESSAGE MODAL -->
  <ModalConfirm
    v-model:open="modal.report"
    cancel-text="取消"
    confirm-text="送出"
    with-action
    cancel
    :on-confirm="reportMessage"
  >
    <div class="w-full">
      <div class="mb-10">
        <h3 class="text-2xl font-medium">
          檢舉此則留言
        </h3>
        <p class="text-base mt-2">
          請選擇檢舉理由
        </p>
      </div>
      <div
        id="reason"
        class="form-field grid gap-4"
        :style="{
          gridTemplateColumns: '1em minmax(0, 1fr)',
          placeItems: 'center stretch'
        }"
      >
        <template
          v-for="(option, idx) in reasonOptions"
          :key="idx"
        >
          <input
            :id="`option-${idx+1}`"
            v-model="formData.reason"
            class="input-radio"
            type="radio"
            name="reason"
            :value="option.value"
          >
          <label :for="`option-${idx+1}`">{{ option.value }}</label>
        </template>
        <textarea
          v-if="formData.reason === '其他原因'"
          v-model="formData.text"
          class="col-start-2 text-lg border border-gray-100 rounded-sm placeholder-gray-100 em:p-3 resize-none"
          cols="30"
          rows="3"
          placeholder="我想說..."
        />
      </div>
    </div>
  </ModalConfirm>
  <!-- DELETE MESSAGE MODAL -->
  <ModalConfirm
    v-model:open="modal.delete"
    icon="alert"
    cancel-text="想一下"
    confirm-text="刪除"
    :on-confirm="deleteMessage"
    cancel
  >
    <p>是否刪掉你的留言？</p>
  </ModalConfirm>
</template>

<style lang="scss">
.msg-panel {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  background-color: #f6f6f6;
  border-radius: 10px;

  > div {
    max-width: 1030px;
  }

  @screen md {
    border-radius: 0;
  }
}
</style>
