<script setup>
import { useEventBus } from '@vueuse/core'
import { REACTION } from '@/common/enum'

const props = defineProps({
  data: {
    type: Object,
    required: true
  }
})

const state = inject('state')
const bus = useEventBus('msg-action')
const message = ref(props.data.text)

function updateMessage () {
  bus.emit({
    action: 'edit',
    id: props.data.id,
    data: message.value
  })
}

function cancelEdit () {
  state.editMode = ''
  message.value = props.data.text
}

function reactPros () {
  bus.emit({
    action: 'react',
    id: props.data.id,
    data: props.data.is_like ? REACTION.UNLIKE : REACTION.LIKE
  })
}

function reactCons () {
  bus.emit({
    action: 'react',
    id: props.data.id,
    data: props.data.is_dislike ? REACTION.UNDISLIKE : REACTION.DISLIKE
  })
}
</script>

<template>
  <div
    class="message-card relative bg-white rounded-md shadow-md p-4 flex overflow-hidden"
    :class="data.position"
  >
    <BaseAvatar
      class="w-12 mr-3 flex-shrink-0"
      :source="data.member.image"
    />
    <template v-if="state.editMode === data.id">
      <div class="flex-1 grid grid-flow-row gap-5">
        <textarea
          v-model="message"
          cols="30"
          rows="3"
          class="text-lg md:text-base resize-none border border-gray-100 rounded-sm p-3 leading-6"
        />
        <div class="grid grid-flow-col gap-5 justify-self-end">
          <BaseButton
            class="bg-gray-300 text-lg md:text-base em:w-20 em:h-10 rounded-xs"
            @click="cancelEdit"
          >
            取消
          </BaseButton>
          <BaseButton
            class="text-lg md:text-base em:w-20 em:h-10 rounded-xs"
            :loading="state.pending"
            @click="updateMessage"
          >
            儲存
          </BaseButton>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="grid grid-flow-row gap-3 auto-cols-fr flex-1">
        <div class="flex items-center">
          <p class="user-name font-bold text-lg">
            {{ data.member.nickname || '中天忠實粉絲' }}
          </p>
          <p class="ml-3 mr-1 text-gray-100 text-lg md:text-base flex-shrink-0">
            {{ $time(data.create_at) }}
            <span>{{ data.is_edit ? '(已編輯)' : '' }}</span>
          </p>
          <!--MENU-->
          <MessageMenu
            class="ml-auto"
            :data="data"
          />
        </div>
        <p
          class="msg whitespace-pre-line text-lg md:text-base leading-6"
          v-text="data.text"
        />
        <div class="likes-row grid grid-flow-col auto-cols-max gap-3 text-lg">
          <div class="flex items-center">
            <Transition name="switch-icon">
              <button
                :key="data.is_like"
                type="button"
                class="icon like mr-2"
                :class="(data.is_like && data.like) ? 'text-theme-2' : 'text-gray-300'"
                @click="reactPros"
              >
                <span
                  class="material-icons-round"
                >
                  thumb_up
                </span>
              </button>
            </Transition>
            <span>{{ data.like }}</span>
          </div>
          <div class="flex items-center">
            <Transition name="switch-icon">
              <button
                :key="data.is_dislike"
                type="button"
                class="icon dislike mr-2"
                :class="(data.is_dislike && data.dislike) ? 'text-pink-500' : 'text-gray-300'"
                @click="reactCons"
              >
                <span
                  class="material-icons-round"
                >
                  thumb_down
                </span>
              </button>
            </Transition>
            <span>{{ data.dislike }}</span>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<style lang="scss" scoped>
.message-card {
  .user-name {
    @include text-overflow(2);
  }

  .icon {
    @apply flex-shrink-0 em:text-sm transition;
  }

  .msg {
    word-break: break-all;
    word-wrap: break-word;
  }

  &.pros,
  &.cons {
    padding-top: 20px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 6px;
      content: '';
      background-color: var(--pos-color);
    }
  }

  &.neutral {
    --pos-color: theme('colors.gray.50');
  }

  &.pros {
    --pos-color: theme('colors.theme.2');
  }

  &.cons {
    --pos-color: theme('colors.orange.150');
  }
}
</style>
