<script setup>
import { useUserStore } from '@/store/user'
import { useCommentStore } from '@/store/comment'

const emit = defineEmits(['anonymous'])
defineProps({
  submitText: {
    type: String,
    default: '留言'
  },
  anonymousText: {
    type: String,
    default: '使用訪客模式留言'
  },
  placeholder: {
    type: String,
    default: '我想說...'
  }
})

const currentUser = useUserStore()
const commentStore = useCommentStore()
const form = reactive({
  msg: '',
  anonymous: false
})

watch(() => form.anonymous, v => {
  if (v) {
    emit('anonymous')
  }
})

function onSubmit () {
  if (!form.msg) return

  commentStore.add(form).then(clear)
}

function clear () {
  form.msg = ''
}

defineExpose({
  form,
  clear
})
</script>

<template>
  <client-only>
    <div class="leave-a-msg grid grid-flow-row gap-3">
      <div class="flex">
        <BaseAvatar
          :source="form.anonymous ? '' : currentUser.avatar"
          class="w-12"
        />
        <textarea
          v-model.trim="form.msg"
          rows="4"
          :placeholder="placeholder"
          class="flex-1 ml-3 text-lg md:text-base resize-none border border-gray-100 rounded-sm p-3 leading-6 placeholder-gray-100 bg-transparent"
        />
      </div>
      <div class="justify-self-end">
        <div class="flex items-center">
          <div
            v-if="currentUser.isLoggedIn"
            class="flex items-center"
          >
            <input
              id="anonymous"
              v-model="form.anonymous"
              type="checkbox"
              class="input-checkbox"
            >
            <label
              for="anonymous"
              class="ml-2 text-gray-300"
            >
              {{ anonymousText }}
            </label>
          </div>
          <slot
            name="submit"
            :disabled="!form.msg"
            :form="form"
            :loading="commentStore.pending"
            :clear="clear"
          >
            <BaseButton
              class="text-lg md:text-base ml-3 rounded-xs h-12 w-[90px]"
              :disabled="!form.msg"
              :loading="commentStore.pending"
              @click="onSubmit"
            >
              {{ submitText }}
            </BaseButton>
          </slot>
        </div>
      </div>
    </div>
  </client-only>
</template>
