<script setup>
const emit = defineEmits(['filter-changed'])
defineProps({
  data: {
    type: Array,
    required: true,
    default: () => ([])
  },
  initialFilter: {
    type: Number,
    default: 1
  }
})

const msgFilter = [{ text: '最新留言', id: 1 }, { text: '熱門留言', id: 3 }]
const tabs = msgFilter.map(o => o.text)

function onTabChanged (idx) {
  const sortType = msgFilter[idx].id
  emit('filter-changed', sortType)
}
</script>

<template>
  <div class="msg-list">
    <BaseTab
      class="mb-7 md:mb-6"
      :data="tabs"
      :initial-idx="msgFilter.findIndex(o => o.id === initialFilter)"
      simple
      @tab-changed="onTabChanged"
    />
    <ApiErrorBoundary
      :error="!data.length"
      :pending="false"
      class="grid grid-flow-row gap gap-4"
    >
      <MessageCard
        v-for="msg in data"
        :key="msg.id"
        :data="msg"
      />
      <template #error>
        <div class="grid place-items-center gap-5 mt-10">
          <img
            src="@/assets/svg/comment.svg"
            alt="NO MESSAGE"
            draggable="false"
            width="200"
            height="113"
          >
          無任何留言，趕緊搶頭香！
        </div>
      </template>
    </ApiErrorBoundary>
  </div>
</template>
