<script setup>
import { useEventBus, onClickOutside } from '@vueuse/core'
import { nanoid } from 'nanoid'
import { useModal } from '~~/common/shared-state'

defineProps({
  data: {
    type: Object,
    required: true
  }
})

const state = inject('state')
const bus = useEventBus('msg-action')
const trigger = ref(null)
const menu = ref(null)
const open = ref(false)
const {
  bottom,
  right,
  height,
  bound,
  update
} = useDropBoundary({ target: trigger, el: menu })
const activeModal = useModal()

const id = nanoid()
const menuStyles = computed(() => ({
  top: `${bottom.value}px`,
  left: `${right.value}px`,
  '--pin-y': bound.value.includes('bottom') ? `${-100 - height.value}%` : 0
}))

onClickOutside(
  trigger,
  (e) => {
    open.value = false
  }
)

watch(open, (open) => {
  update()

  if (open) {
    activeModal.value.push(id)
  } else {
    activeModal.value.pop()
  }
})
</script>

<template>
  <div>
    <button
      ref="trigger"
      type="button"
      class="ml-auto text-2xl text-gray-300 hover:text-theme-2"
      @click="open = !open"
    >
      <span class="material-icons-round block pointer-events-none">
        more_horiz
      </span>
    </button>
    <client-only>
      <Teleport
        to="#main"
        :disabled="!open"
      >
        <Transition name="fade">
          <ul
            v-show="open"
            ref="menu"
            class="msg-tool pop-item fixed"
            :class="bound"
            :style="menuStyles"
          >
            <template v-if="!data.own">
              <li class="tool-row pop-item__link">
                <button
                  type="button"
                  @click="bus.emit({ action: 'report', id: data.id })"
                >
                  <span class="material-icons-round">
                    info
                  </span>
                  <span>
                    檢舉
                  </span>
                </button>
              </li>
            </template>
            <template v-else>
              <li class="tool-row pop-item__link">
                <button
                  type="button"
                  @click="state.editMode = data.id"
                >
                  <span class="material-icons-round">
                    mode_edit
                  </span>
                  <span>
                    編輯
                  </span>
                </button>
              </li>
              <li class="tool-row pop-item__link">
                <button
                  type="button"
                  @click="bus.emit({ action: 'delete', id: data.id })"
                >
                  <span class="material-icons-round">
                    delete
                  </span>
                  <span>
                    刪除
                  </span>
                </button>
              </li>
            </template>
          </ul>
        </Transition>
      </Teleport>
    </client-only>
  </div>
</template>

<style lang="scss" scoped>
.msg-tool {
  z-index: 205;
  transform: translateX(var(--pin-x, -100%)) translateY(var(--pin-y, 0)) scale(var(--scale, 1));

  @apply whitespace-nowrap min-w-[9em] text-base py-2 leading-none;

  button {
    @apply flex items-center w-full px-5 py-3;
  }

  [class^='material-icons'] {
    @apply em:text-xl mr-2;
  }
}
</style>
