<script setup>
import { useUserStore } from '@/store/user'
import { useToken } from '@/common/shared-state'

const { SESSION_DOMAIN } = useRuntimeConfig().public
const screen = useScreen()
const cookie = useCookie('api-token', { domain: SESSION_DOMAIN })
const user = useUserStore()
const token = useToken(cookie.value)

if (!token.value) {
  const data = await $fetch('/api/token')
  token.value = data.token
  cookie.value = data.token
}

// validate token
const { data } = await useApi('/api/validate/token')
user.tokenStatus = data.value.tokenStatus
user.token = data.value.token

useHead({
  title: '中天新聞網－就是新聞！報導當權者不想讓您知道的事',
  viewport: 'width=device-width, initial-scale=1, maximum-scale=1',
  charset: 'utf-8',
  meta: [
    { name: 'description', content: '中天新聞網提供即時、要聞、社會、娛樂、健康、生活、國際、大陸、毛球萌寵、體育與財經新聞，並提供新聞影音、直播服務與圖文新聞讓您即時掌握新聞。中天新聞網更在乎真相、更在乎正義、更在乎您的聲音。我們用更多細節、更多感動、更多視野與更多當權者不想讓您知道的事，讓觀眾再多停留一點時間。我們樂在分享重要和有趣的，擅長擴散善良、發現真相與伸張正義。時間寶貴，講重點，說實話真是太酷了！沒別的「就是新聞」。' },
    { property: 'og:title', content: '中天新聞網－就是新聞！報導當權者不想讓您知道的事' },
    { property: 'og:description', content: '中天新聞網提供即時、要聞、社會、娛樂、健康、生活、國際、大陸、毛球萌寵、體育與財經新聞，並提供新聞影音、直播服務與圖文新聞讓您即時掌握新聞。中天新聞網更在乎真相、更在乎正義、更在乎您的聲音。我們用更多細節、更多感動、更多視野與更多當權者不想讓您知道的事，讓觀眾再多停留一點時間。我們樂在分享重要和有趣的，擅長擴散善良、發現真相與伸張正義。時間寶貴，講重點，說實話真是太酷了！沒別的「就是新聞」。' },
    { property: 'og:image:width', content: '600' },
    { property: 'og:image:height', content: '315' },
    { property: 'og:image', content: '/og/main.jpeg' }
  ],
  link: [
    { rel: 'icon', href: '/favicon.ico' },
    { rel: 'preconnect', href: 'https://fonts.googleapis.com' },
    { rel: 'preconnect', href: 'https://fonts.gstatic.com', crossorigin: true },
    { rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons+Round' },
    { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap' }
  ]
})

provide('screen', screen)
</script>

<template>
  <div>
    <NuxtLayout>
      <NuxtPage />
      <ToastBoard />
    </NuxtLayout>
  </div>
</template>
