<script setup>
import { defineAsyncComponent } from 'vue'

const error = useError()
const PageNotFound = defineAsyncComponent(() => import('./pages/404.vue'))
const ServerError = defineAsyncComponent(() => import('./pages/server-error.vue'))
const statusMap = {
  500: ServerError,
  404: PageNotFound
}
const errorComp = computed(() => statusMap[error.value?.statusCode] || PageNotFound)
</script>

<template>
  <component :is="errorComp" />
</template>
