<script setup>
import { Line } from 'vue-chartjs'

const props = defineProps({
  index: {
    type: Number,
    required: true
  },
  data: {
    type: Object,
    required: true
  }
})

const chartData = reactive({
  datasets: [
    {
      backgroundColor: 'rgba(76, 223, 232, 0.05)',
      borderColor: '#4CDFE8',
      fill: true,
      data: props.data.popularity
    }
  ]
})

const chartOptions = reactive({
  responsive: true,
  maintainAspectRatio: false,
  tooltip: {
    enabled: false
  },
  aspectRatio: 6,
  plugins: {
    title: {
      text: '每日增加人氣指數',
      display: true,
      align: 'start'
    },
    legend: {
      display: false
    }
  },
  elements: {
    point: {
      pointStyle: 'line'
    }
  }
})

const emit = defineEmits(['clickDetailBtn'])
const onClickDetailBtn = () => {
  emit('clickDetailBtn')
}
</script>

<template>
  <div class="flex items-center mb-6 bg-white rounded p-7 flex-wrap">
    <div class="lg:basis-full basis-[300px]">
      <CandidateCard
        :index="index"
        :data="data"
        show-index
        show-title
      />
    </div>

    <div class="flex-1 mx-10 xl:mt-6 xl:mx-1">
      <client-only>
        <div class="relative">
          <span
            class="cursor-pointer text-sm absolute right-3 top-3 hidden xl:block"
            @click="onClickDetailBtn"
          >顯示更多數據 ></span>
          <Line
            class="h-[150px]"
            :chart-options="chartOptions"
            :chart-data="chartData"
          />
        </div>
      </client-only>
    </div>

    <div
      class="block text-lg border border-gray-100 p-6 rounded-full xl:hidden cursor-pointer"
      @click="onClickDetailBtn"
    >
      <div class="flex items-center">
        <span>詳細資料</span>
        <IconSprite
          id="chevron-right"
          width="24"
          height="24"
          class="ml-2"
        />
      </div>
    </div>
  </div>
</template>
