<script setup>
import { Line, Radar } from 'vue-chartjs'

const props = defineProps({
  data: {
    type: [Object, null],
    required: true
  }
})
const isShowPopup = ref(false)

// computed
const popularDataset = computed(() => {
  let popular = []

  if (props.data) {
    popular = props.data.popularity
  }
  return {
    datasets: [
      {
        backgroundColor: 'rgba(76, 223, 232, 0.05)',
        borderColor: '#4CDFE8',
        fill: true,
        data: popular
      }
    ]
  }
})
const radarDataset = computed(() => {
  let radar = []
  let labels = []

  if (props.data) {
    radar = props.data.radar.data
    labels = props.data.radar.labels
  }

  return {
    labels,
    datasets: [
      {
        backgroundColor: 'rgba(76, 223, 232, 0.05)',
        borderColor: '#4CDFE8',
        fill: true,
        data: radar
      }
    ]
  }
})
const kiiDataset = computed(() => {
  let kii = {
    average: [],
    index: [],
    median: []
  }

  if (props.data) {
    kii = props.data.kii
  }

  return {
    datasets: [
      {
        borderColor: '#4CDFE8',
        fill: false,
        data: kii.index,
        label: 'KII指數'
      },
      {
        borderColor: '#FCBE01',
        fill: false,
        data: kii.median,
        label: 'KII中位數'
      },
      {
        borderColor: '#7947F7',
        fill: false,
        data: kii.average,
        label: 'KII平均數'
      }
    ]
  }
})

// reactive
const popularOptions = reactive({
  responsive: true,
  maintainAspectRatio: false,
  tooltip: {
    enabled: false
  },
  aspectRatio: 6,
  plugins: {
    title: {
      text: '每日增加人氣指數',
      display: true,
      align: 'start',
      font: {
        size: 20
      }
    },
    legend: {
      display: false
    }
  },
  elements: {
    point: {
      pointStyle: 'line'
    }
  }
})
const kiiOptions = reactive({
  responsive: true,
  maintainAspectRatio: false,
  tooltip: {
    enabled: false
  },
  aspectRatio: 6,
  plugins: {
    title: {
      text: 'KII指數',
      display: true,
      align: 'start',
      font: {
        size: 20
      }
    },
    legend: {
      display: true,
      position: 'bottom'
    }
  },
  elements: {
    point: {
      pointStyle: 'line'
    }
  }
})
const radarOptions = reactive({
  responsive: true,
  maintainAspectRatio: true,
  scales: {
    r: {
      min: 0,
      max: 100,
      ticks: {
        stepSize: 25
      },
      pointLabels: {
        font: {
          size: 16
        }
      }
    },
    y: {
      display: false
    }
  },
  tooltip: {
    enabled: false
  },
  aspectRatio: 1.09,
  plugins: {
    title: {
      text: '雷達圖指數',
      display: true,
      align: 'start',
      font: {
        size: 20
      }
    },
    legend: {
      display: false
    }
  }
})

// methods
const onClickOpenPopup = () => {
  isShowPopup.value = true
}

const onClickClosePopup = () => {
  isShowPopup.value = false
}

defineExpose({ onClickOpenPopup, onClickClosePopup })
</script>
<template>
  <client-only>
    <var-popup
      v-model:show="isShowPopup"
      :overlay-style="{backgroundColor: 'rgba(34, 35, 35, 0.46)'}"
      :close-on-click-overlay="false"
      :style="{ '--popup-content-background-color': '#fafafa' }"
      class="max-h-[85vh] max-w-[80%] md:max-w-[95%] w-full rounded flex flex-col"
    >
      <div class="text-center border-b border-gray-100 py-6 font-bold text-2xl flex justify-center items-center relative">
        <div class="mx-auto">
          中天新聞網：分析資料
        </div>
        <span
          class="cursor-pointer absolute right-7"
          @click="onClickClosePopup"
        >
          <img src="@/assets/svg/icon-x.svg">
        </span>
      </div>
      <div class="px-20 py-4 lg:px-5 overflow-y-auto h-[90vh]">
        <div class="mt-12 mb-6 flex justify-center">
          <template v-if="props.data">
            <CandidateCard
              show-title
              :data="props.data"
            />
          </template>
        </div>
        <div class="text-center my-6 font-bold text-xs">
          *除人氣排行外，其餘資料為7天更新一次
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-x-7 gap-y-8 grid-flow-col lg:block mb-5">
          <div class="bg-white rounded-md p-3 col-span-1 row-span-1 lg:mb-8">
            <Line
              class="h-[160px]"
              :chart-options="popularOptions"
              :chart-data="popularDataset"
            />
          </div>
          <div class="bg-white rounded-md p-3 col-span-1 row-span-1 lg:mb-8">
            <Line
              class="h-[160px]"
              :chart-options="kiiOptions"
              :chart-data="kiiDataset"
            />
          </div>
          <div class="bg-white rounded-md p-3 col-span-1 row-span-2 lg:mb-8">
            <Radar
              :chart-options="radarOptions"
              :chart-data="radarDataset"
            />
          </div>
        </div>
        <div class="grid grid-cols-2 gap-x-7 md:grid-cols-1">
          <div class="md:mb-6">
            <div class="mb-2">
              KII指數
            </div>
            <ul class="text-xs font-bold">
              <li class="mb-2">
                1. KII指數：單一候選人每週於社群貼文的平均表現
              </li>
              <li class="mb-2">
                2. KII平均數：將所有候選人的KII指數除以所有候選人的數量
              </li>
              <li>3. KII中位數：將所有候選人的KII指數進行排列，排列於中間的數值。</li>
            </ul>
          </div>
          <div>
            <div class="mb-2">
              雷達圖指數
            </div>
            <ul class="text-xs font-bold">
              <li class="mb-2">
                1. 曝光指數：候選人在網路上的能見度指標
              </li>
              <li class="mb-2">
                2. 互動指數：候選人在網路上與網友的互動數指標
              </li>
              <li class="mb-2">
                3. 參與指數：候選人在網路上的能見度以及與網友互動的綜合指標
              </li>
              <li>4. 情感指數：候選人在發文後，獲得正面討論/評價的指標</li>
            </ul>
          </div>
        </div>
        <div class="mt-12 text-center font-bold text-xs">
          KII指數(僅以Facebook 網路聲量為主)、雷達數據資料為【LnData】提供
        </div>
      </div>
    </var-popup>
  </client-only>
</template>
