<script setup>
import { useToast } from '~~/common/shared-state'

const toasts = useToast()
const screen = inject('screen')
const tileAnimation = computed(() => screen.md ? 'tile-y' : 'tile-x')
const toastData = computed(() => [...toasts.value].map(([id, data]) => ({
  ...data,
  component: data.component || markRaw(resolveComponent('ToastNotify'))
})))
</script>

<template>
  <div class="toast-board">
    <TransitionGroup
      id="toast-list"
      :name="tileAnimation"
      tag="ul"
    >
      <template
        v-for="toast in toastData"
        :key="toast.id"
      >
        <component
          :is="toast.component"
          :data="toast"
        />
      </template>
    </TransitionGroup>
  </div>
</template>

<style lang="scss">
.toast-board {
  bottom: 30vh;
  z-index: 205;

  @apply fixed right-0;

  > ul {
    @apply grid grid-flow-row gap-3 mr-4;
  }

  .toast {
    width: clamp(300px, 20vw, 450px);
    cursor: pointer;
  }

  @screen md {
    @apply inset-x-0 bottom-2.5;

    > ul {
      @apply mx-4;
    }

    .toast {
      width: 100%;
    }
  }
}

.tile-x-move,
.tile-x-enter-active,
.tile-x-leave-active {
  transition: all 0.5s ease;
}

.tile-x-enter-from,
.tile-x-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.tile-x-leave-action {
  position: absolute;
}

.tile-y-move,
.tile-y-enter-active,
.tile-y-leave-active {
  transition: all 0.5s ease;
}

.tile-y-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.tile-y-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.tile-y-leave-action {
  position: absolute;
}
</style>
