<script setup>
const props = defineProps({
  data: {
    type: Object,
    required: true
  }
})

const toast = useToastNotify(props.data.id)
</script>

<template>
  <div
    class="toast cancelable bg-white em:p-5 rounded shadow-sm text-lg xl:text-base"
    @click="toast.remove"
  >
    <div class="flex items-center leading-snug">
      <span class="msg flex-1">{{ data.text }}</span>
      <button
        type="button"
        class="font-bold text-theme-2 em:ml-3 hover:underline underline-offset-2"
        @click="data.cancel"
      >
        復原
      </button>
    </div>
  </div>
</template>

<style lang="scss">
.toast.cancelable {
  border: 1px solid #e0e8ed;

  .msg {
    @include text-overflow(2);
  }
}
</style>
