<script setup>
const props = defineProps({
  data: {
    type: Object,
    required: true
  }
})

const toast = useToastNotify(props.data.id)
</script>

<template>
  <div
    class="toast bg-white em:p-4 rounded shadow text-lg xl:text-base"
    :class="data.type"
    @click="toast.remove"
  >
    <div class="flex items-center leading-snug">
      <IconSprite
        :id="`notify-${data.type || 'info'}`"
        class="w-8 h-8 xl:w-7 xl:h-7"
      />
      <span class="flex-1 em:ml-3 msg">{{ data.text }}</span>
    </div>
  </div>
</template>

<style lang="scss">
.toast {
  &.alert {
    background-color: #fff2f6;
  }

  &.info {
    background-color: #f1f6ff;
  }

  &.warning {
    background-color: #ffe9bd;
  }

  .msg {
    @include text-overflow(2);
  }
}
</style>
