<script setup>
const props = defineProps({
  error: {
    type: [Boolean, null],
    required: true,
    default: true
  },
  pending: {
    type: Boolean,
    default: true,
    required: true
  },
  errorStatus: {
    type: [null, Number],
    default: null
  }
})

watch(() => props.error, error => {
  if (error && props.errorStatus) {
    throw createError({
      statusCode: props.errorStatus,
      statusMessage: props.errorStatus === 404 ? 'Page Not Found' : 'Server Error'
    })
  }
}, { immediate: true })
</script>

<template>
  <div>
    <template v-if="pending">
      <div class="my-20 flex justify-center items-center">
        <client-only>
          <var-loading
            type="circle"
            size="large"
            class="text-primary"
          />
        </client-only>
      </div>
    </template>
    <template v-else-if="!error">
      <slot />
    </template>
    <template v-else>
      <slot name="error">
        <div class="h-80 grid place-items-center font-medium text-gray-450 text-xl tracking-wider">
          Oops! 工程師搶修中
        </div>
      </slot>
    </template>
  </div>
</template>
