<script setup>
defineProps({
  skipLoading: {
    type: Boolean,
    default: false
  }
})

</script>

<template>
  <div>
    <NuxtLink
      :to="`/?skipLoading=${skipLoading}`"
      class="block py-4 px-5 sm:p-3 sm:mb-2 mr-3 rounded-sm bg-white border border-gray-50 text-sm sm:text-xs hover:bg-[#0189DB] hover:text-white transition"
    >
      <div class="flex align-center">
        <span class="text-xs mr-5">{{ '<' }} </span>
        回選舉首頁
      </div>
    </NuxtLink>
  </div>
</template>
