
<script>
// import Candidate from '@/blocks/election/map/partials/Candidate'
// import CountDown from '@/blocks/election/partials/CountDown'
// import MobileHeader from '@/blocks/election/map/partials/MobileHeader'
import citiesData from '@/assets/TWCities.json'
// const ElectionMap = defineAsyncComponent(() => import('@/blocks/election/partials/ElectionMap'))

export default {
  data () {
    return {
      city: '',
      area: ''
    }
  },
  computed: {
    firstCityArea () {
      if (!this.city) { return '' }
      return citiesData.filter(city => city.name === this.city)[0]?.districts[0]?.name
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    init () {
      if (!this.$route.query.electionType) {
        return
      }
      if (this.$route.query.electionType === '1') {
        setTimeout(() => { this.onClickCityCandidateButton() }, 1000)
        return
      }
      if (this.$route.query.electionType === '2') {
        setTimeout(() => { this.onClickElectorateCandidateButton() }, 1000)
      }
    },
    onChangeMapData (data) {
      this.$refs.candidate.query = {
        city: data.city,
        area: data.area,
        electionType: this.getElectionType(data.city, data.area)
      }
      this.$refs['mobile-header'].setLocation({
        city: data.city,
        area: data.area
      })
      this.city = data.city
      this.area = data.area
    },
    onInputMobileHeaderLocation (location) {
      this.$refs.candidate.query = {
        city: location.city,
        area: location.area,
        electionType: this.getElectionType(location.city, location.area)
      }
      this.city = location.city
      this.area = location.area
      if (location.city) {
        this.$refs.map.zoom({ city: location.city, area: location.area })
      } else {
        this.$refs.map.reset()
        this.city = ''
        this.area = ''
      }
    },
    onClickResetButton () {
      if (this.city && this.area) {
        this.area = ''
        this.$refs.map.zoom({ city: this.city, area: '' })
      } else {
        this.city = ''
        this.area = ''
        this.$refs.map.reset()
      }
    },
    onClickCityCandidateButton () {
      this.$nextTick(() => {
        this.$refs.candidate.query = {
          city: this.city,
          area: '',
          electionType: this.getElectionType(this.city, '')
        }
      })
    },
    onClickElectorateCandidateButton () {
      this.$nextTick(() => {
        this.$refs.candidate.query = {
          city: this.city,
          area: this.area || this.firstCityArea,
          electionType: this.getElectionType(this.city, this.area || this.firstCityArea)
        }
      })
    },
    getElectionType (city, area) {
      //  參選類型 1: 縣市長, 2: 縣市議員, 3: 鄉鎮區長, 4: 里長, 5: 總統
      if (city && area) {
        return 2
      }
      if (city) {
        return 1
      }
      return ''
    }
  }
}
</script>

<template>
  <div class="block">
    <div class="absolute w-full top-0 left-0 z-1 p-4">
      <div class="hidden md:block mb-4">
        <PartialsMapMobileHeader
          ref="mobile-header"
          @input="onInputMobileHeaderLocation"
        />
      </div>

      <div class="block__nav">
        <div class="flex">
          <NuxtLink
            v-if="!city"
            to="/?skipLoading=true"
            class="block md:hidden py-4 px-5 mr-3 bg-white border border-gray-50 text-sm sm:text-xs rounded-xs hover:border-black"
          >
            <div class="flex align-center">
              <span class="text-xs mr-5">{{ '<' }} </span>
              返回選舉首頁
            </div>
          </NuxtLink>

          <NuxtLink
            v-if="city"
            to="/?skipLoading=true"
            class="block md:hidden py-4 px-5 mr-3 bg-white border border-gray-50 text-sm rounded-xs hover:border-black"
            @click="onClickResetButton"
          >
            <div class="flex align-center">
              <span class="text-xs mr-5">{{ '<' }} </span>
              回上一層
            </div>
          </NuxtLink>

          <button
            v-if="city"
            class="block py-4 px-5 mr-3 md:w-full bg-white border border-gray-50 text-sm rounded-xs hover:border-black"
            @click="onClickCityCandidateButton"
          >
            看市長候選人
          </button>

          <button
            v-if="city"
            class="block py-4 px-5 md:w-full bg-white border border-gray-50 text-sm rounded-xs hover:border-black"
            @click="onClickElectorateCandidateButton"
          >
            看議員候選人
          </button>
        </div>
      </div>
    </div>

    <div
      v-if="city"
      class="absolute left-0 top-1/2 -translate-y-1/2 p-5 md:hidden"
      style="z-index: 1;"
    >
      <div class="py-4 px-5 sm:p-3 border border-gray-50 rounded-xs bg-white text-sm sm:text-xs rounded-x">
        {{ `${city}${area}` }}
      </div>
    </div>

    <div class="block__map">
      <LazyPartialsElectionMap
        ref="map"
        @change="onChangeMapData"
      />
    </div>

    <div class="block__countdown mb-5 md:hidden">
      <PartialsCountDown />
    </div>

    <div
      class="block__sidebar"
      style="pointer-events: none;"
    >
      <div class="block__candidate h-full flex">
        <PartialsMapCandidate ref="candidate" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .block {
    position: relative;

    &__map {
      height: 100vh;
    }

    &__sidebar {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 35%;
      max-width: 780px;
      height: 85%;
      padding: 10px;

      @media (max-width: 780px) {
        width: 100%;
        height: 100%;
        padding-bottom: 0;
      }
    }

    &__countdown {
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      max-width: 360px;
      padding: 0 30px;
      margin-left: auto;

      @media (max-width: 566px) {
        padding: 0 10px;
      }
    }
  }
</style>
