<script setup>
import spritemap from '@/assets/svg/icon_sprite.svg'

defineProps({
  id: {
    type: String,
    required: true
  },
  map: {
    type: String,
    default: spritemap
  }
})
</script>

<template>
  <svg xmlns="http://www.w3.org/2000/svg">
    <use :href="`${map}#${id}`" />
  </svg>
</template>
