<script setup>
import { useIntersectionObserver } from '@vueuse/core'

const props = defineProps({
  activated: { // activate to trigger
    type: Boolean,
    default: true
  },
  showPlaceholder: {
    type: Boolean,
    default: true
  },
  showIcon: {
    type: Boolean,
    default: true
  }
})

const emit = defineEmits(['trigger'])
const el = ref(null)
const placeholder = computed(() => {
  if (!props.showPlaceholder) return ''
  return props.activated ? '載入中' : '已經沒有東西囉！'
})

const { stop } = useIntersectionObserver(
  el,
  ([{ isIntersecting, intersectionRect }]) => {
    if (isIntersecting && props.activated) {
      useNuxtApp().$log('hit')
      emit('trigger')
    }
  }
)

watch(() => props.activated, active => {
  !active && stop()
}, { immediate: true })
</script>

<template>
  <div
    class="infinite-scroll text-gray-450"
  >
    <div
      ref="el"
      class="trigger mt-4"
    >
      <p
        class="grid grid-flow-col place-items-center place-content-center gap-3"
      >
        <client-only>
          <var-loading
            v-if="activated && showIcon"
            type="circle"
            size="small"
            class="text-primary"
          />
        </client-only>
        <slot>
          {{ placeholder }}
        </slot>
      </p>
    </div>
  </div>
</template>
