<script setup>
import selectArrow from '@/assets/svg/election/select-arrow.svg'
import citiesData from '@/assets/TWCities.json'

const isShowPopup = ref(false)
const cities = citiesData.map((city) => city.name)
const election = ref('')
const city = ref('')
const area = ref('')
const electionTypeOptions = ref([{ text: '請選擇選舉項目', value: '' }, { text: '縣市長', value: 'mayor' }, { text: '議員', value: 'councilman' }])

const emit = defineEmits(['close'])

const areaOptions = computed(() => {
  if (city.value) {
    return citiesData.find(row => row.name === city.value).districts
  }
  return [{ zip: '', name: '' }]
})

const mapUrl = computed(() => {
  const url = new URL('/map', window.location.origin)
  if (city.value) {
    url.searchParams.set('city', city.value)
  }
  if (area.value) {
    url.searchParams.set('area', area.value)
  }

  return url.toString()
})

const setElectionType = (data) => {
  election.value = data
}

const setArea = (data) => {
  area.value = data
}

const setCity = (data) => {
  city.value = data
}

const onClickOpenPopup = () => {
  isShowPopup.value = true
}

const onClickClosePopup = () => {
  isShowPopup.value = false
  emit('close')
}

defineExpose({ setElectionType, setCity, setArea, onClickOpenPopup, onClickClosePopup })
</script>

<template>
  <var-popup
    v-model:show="isShowPopup"
    :overlay-style="{backgroundColor: 'rgba(34, 35, 35, 0.46)'}"
    :close-on-click-overlay="false"
    :style="{ '--popup-content-background-color': '#fafafa' }"
    class="max-h-[80vh] max-w-[80%] md:max-w-[95%] rounded bg-white w-full h-full"
  >
    <div class="text-center border-b border-gray-100 py-6 font-bold text-2xl flex justify-center items-center relative">
      <div class="mx-auto">
        選單查詢
      </div>
      <span
        class="cursor-pointer absolute right-7"
        @click="onClickClosePopup"
      >
        <img src="@/assets/svg/icon-x.svg">
      </span>
    </div>
    <div class="max-w-xs mx-auto py-24 md:py-8">
      <select
        v-model="election"
        :style="{ backgroundImage: `url(${selectArrow})` }"
        class="w-full mb-8 md:mb-6 border py-3 px-6 text-lg border-[#90C7FA]"
      >
        <option
          v-for="item in electionTypeOptions"
          :key="item.value"
          :value="item.value"
        >
          {{ item.text }}
        </option>
      </select>

      <select
        v-model="city"
        :style="{ backgroundImage: `url(${selectArrow})` }"
        class="w-full mb-8 md:mb-6 border py-3 px-6 text-lg border-[#90C7FA]"
        placeholder="請選擇城市"
        @change="onChangeCity"
      >
        <option value="">
          請選擇城市
        </option>
        <option
          v-for="item in cities"
          :key="item"
          :value="item"
        >
          {{ item }}
        </option>
      </select>

      <select
        v-if="election !== 'mayor'"
        v-model="area"
        :style="{ backgroundImage: `url(${selectArrow})` }"
        class="w-full mb-8 md:mb-6 border py-3 px-6 text-lg border-[#90C7FA]"
      >
        <template v-if="city">
          <option
            v-for="item in areaOptions"
            :key="item.name"
            :value="item.name"
          >
            {{ item.name }}
          </option>
        </template>
        <template v-else>
          <option value="">
            請選擇區域
          </option>
        </template>
      </select>

      <NuxtLink
        :to="mapUrl"
        class="block text-center bg-primary hover:bg-white px-5 py-3 w-full text-white hover:text-primary border border-primary md:mb-4 transition"
      >
        前往查詢
      </NuxtLink>

      <NuxtLink
        class="hidden md:block text-center bg-white hover:bg-primary border border-primary px-5 py-3 w-full text-primary hover:text-white transition"
        to="/history"
      >
        查看過去資料
      </NuxtLink>
    </div>
  </var-popup>
</template>

<style lang="scss" scoped>
  select {
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
</style>
