<script setup>
import VueCountdown from '@chenfengyuan/vue-countdown'

const route = useRoute()
const { MAIN_ORIGIN } = useRuntimeConfig().public
const skipTime = 5000
const isShown = ref(!route.query.skipLoading)

const mobileMenuItems = [
  {
    text: '回選舉首頁',
    href: '/?skipLoading=true'
  },
  {
    text: '回中天新聞網',
    href: `${MAIN_ORIGIN}/`
  },
  {
    text: '使用條款',
    href: `${MAIN_ORIGIN}/terms`
  },
  {
    text: '隱私權政策',
    href: `${MAIN_ORIGIN}/privacy`
  },
  {
    text: '免責聲明',
    href: `${MAIN_ORIGIN}/disclaimer`
  }
]
const menuItems = [
  {
    text: '回首頁',
    href: '/'
  },
  {
    text: '使用條款',
    href: '/'
  },
  {
    text: '隱私權政策',
    href: '/'
  },
  {
    text: '免責聲明',
    href: '/'
  }
]
</script>

<template>
  <transition name="fade">
    <div
      v-if="isShown"
      class="c-block"
    >
      <div class="c-block__before">
        <div class="banner-block">
          <div class="banner-block__year">
            <div class="banner-block__year__container">
              <img
                class="image"
                src="~assets/img/election/20.png"
              >
              <img
                class="image"
                src="~assets/img/election/22.png"
              >
            </div>
          </div>
          <div class="banner-block__text">
            <div class="banner-block__text__container">
              <span class="sm:hidden">九合一</span>
              <span class="sm:hidden">選舉</span>
              <div class="banner-block__vote">
                <div class="banner-block__vote__wrap">
                  <div class="banner-block__vote__hand">
                    <div class="relative">
                      <img src="~assets/img/election/vote-action.png">
                    </div>
                  </div>
                  <div class="banner-block__vote__hole" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="c-block__after">
        <div class="vote-block">
          <div class="vote-block__container">
            <div class="vote-block__subtitle mb-4 hidden sm:block">
              <p>九合一選舉</p>
            </div>

            <div class="vote-block__text">
              <p>你今天政治正確了嗎？</p>
              <p>地方的基層需要你的一票！</p>
            </div>

            <div class="vote-block__photo">
              <button
                type="button"
                @click="isShown = false"
              >
                <img src="~assets/img/election/vote.png">
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="block sm:hidden">
        <div class="menu-block">
          <ul class="menu">
            <li
              v-for="(item, itemIdx) in menuItems"
              :key="itemIdx"
              class="menu-item"
            >
              <NuxtLink
                class="menu-link"
                :href="item.href"
                target="_blank"
              >
                {{ item.text }}
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>

      <div class="hidden sm:block">
        <div class="absolute bottom-[20px] w-full">
          <ul class="flex flex-wrap justify-center max-w-[250px] mx-auto">
            <li
              v-for="(item, itemIdx) in mobileMenuItems"
              :key="itemIdx"
              class="block"
            >
              <NuxtLink
                class="text-black block p-2 py-1 mb-1 border-black text-sm"
                :class="{ 'border-l-2': itemIdx !== 0 && itemIdx !== 2 }"
                :href="item.href"
                target="_blank"
              >
                {{ item.text }}
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>

      <button
        class="skip-button base-button focus:ring ring-theme-3/50 disabled:bg-gray-300"
        type="button"
        @click="isShown = false"
      >
        <client-only>
          <VueCountdown
            v-slot="{ seconds }"
            :time="skipTime"
            @end="isShown = false"
          >
            {{ seconds }} 秒
          </VueCountdown>
        </client-only>
        跳過畫面
      </button>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
.c-block {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #e9effd;

  &__before {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    background-color: #e9effd;

    @media (max-width: 576px) {
      height: 33%;
    }

    @media (max-width: 375px) {
      height: 40%;
    }
  }

  &__after {
    width: 100%;
    height: 50%;
    background-color: #f54278;

    @media (max-width: 576px) {
      height: 67%;
    }

    @media (max-width: 375px) {
      height: 60%;
    }
  }
}

.banner-block {
  width: 100%;

  &__year {
    img {
      width: 30%;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      max-width: 680px;
      padding: 20px 40px;
      margin: 0 auto;

      @media (max-width: 568px) {
        padding: 20px 10px;
      }
    }
  }

  &__text {
    background-color: #fe7a9f;

    span {
      width: 30%;
      font-size: 2.5em;
      font-weight: 400;
      line-height: 1.5em;
      color: #fff;
      text-align: justify;
      text-align-last: justify;
      white-space: nowrap;

      @media (max-width: 768px) {
        font-size: 1.5em;
      }
    }

    &__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 680px;
      padding: 20px 40px;
      margin: 0 auto;

      @media (max-width: 568px) {
        padding: 55px 10px;
      }
    }
  }

  &__vote {
    position: absolute;
    bottom: 55%;
    left: 50%;
    box-sizing: border-box;
    width: 40%;
    padding: 0 50px;
    transform: translateX(-50%);

    @media (max-width: 568px) {
      bottom: 40%;
      padding: 0 10px;
    }

    &__wrap {
      position: relative;
      overflow: hidden;
    }

    &__hole {
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 20px;
      background: #000;
      border-radius: 20px;
    }

    &__hand {
      max-width: 85%;
      padding-bottom: 2px;
      padding-left: 4%;
    }
  }
}

.vote-block {
  &__container {
    max-width: 680px;
    padding: 45px 80px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 20px 40px;
    }
  }

  &__subtitle {
    font-size: 2.5em;
    color: #fff;
    text-align: justify;
    text-align-last: justify;
    white-space: nowrap;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.5em;
    color: #fff;
    text-align: justify;
    text-align-last: justify;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }

  &__photo {
    max-width: 65%;
    margin: 0 auto;
  }
}

.menu-block {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

  .menu {
    display: flex;
  }

  .menu-item {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      display: block;
      width: 1px;
      height: 100%;
      margin: 0 10px;
      content: '';
      background-color: #fff;
    }
  }

  .menu-link {
    font-size: 16px;
    line-height: 16px;
    color: #fff;

    &:hover {
      opacity: 0.7;
    }
  }
}

.skip-button {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 10px 25px;
  font-size: 14px;

  @media (max-width: 576px) {
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    font-size: 13px;
  }
}

</style>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes fadeIn-left {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(10);
  }

  60% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn-top {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes scaleX-animate {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes ghost {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2%);
  }

  100% {
    transform: translateY(0);
  }
}

.c-block {
  &__after {
    animation: 0.8s fadeIn-left ease;
  }
}

.banner-block {
  &__year {
    .image {
      &:first-child {
        opacity: 0;
        animation: 0.8s zoom-in ease;
        animation-fill-mode: forwards;
      }

      &:last-child {
        opacity: 0;
        animation: 0.8s zoom-in ease;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
      }
    }
  }

  &__text {
    opacity: 0;
    animation: 0.8s fadeIn-left ease;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
  }

  &__vote {
    &__hole {
      opacity: 0;
      animation: 1s scaleX-animate ease-out;
      animation-fill-mode: forwards;
      animation-delay: 0.3s;
    }

    &__hand {
      opacity: 0;
      transform: translateY(-20%);
      animation: 0.6s hand-animate;
      animation-fill-mode: forwards;
      animation-delay: 0.6s;

      @keyframes hand-animate {
        to {
          opacity: 1;
          transform: translateY(1%);
        }
      }

      img {
        animation: 2s ghost ease-in;
        animation-delay: 2s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.vote-block {
  &__text {
    opacity: 0;
    animation: 0.6s scaleX-animate ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  &__photo {
    opacity: 0;
    animation: 0.6s scaleX-animate ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    img {
      animation: 1s brand ease-in;
      animation-delay: 1.6s;
      animation-iteration-count: infinite;

      @keyframes brand {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.05);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }
}
</style>
