<script setup>
defineProps({
  polls: {
    type: Array,
    required: true
  }
})
</script>

<template>
  <div>
    <div class="text-2xl font-bold mb-5">
      選前民調投起來
    </div>

    <ul>
      <li
        v-for="(poll, index) in polls"
        :key="index"
        class="drop-shadow-lg p-4 mb-4 bg-white"
      >
        <div class="flex">
          <div class="basis-12 mr-3">
            <img
              class="rounded-full h-12 w-12"
              :src="poll.image"
            >
          </div>
          <div class="flex-1">
            <div class="font-bold text-lg mb-2">
              {{ poll.name }}
            </div>
            <div class="text-sm mb-3">
              {{ poll.des }}
            </div>
            <div class="ml-auto w-24">
              <NuxtLink
                class="block px-4 py-5 text-white hover:text-white rounded text-center poll-btn"
                :href="poll.id"
              >
                去投票
              </NuxtLink>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="text-center bg-blue-100 rounded hover:opacity-80 transition ease-in-out">
      <a
        class="block p-3 text-blue-500"
        href=""
      >顯示更多</a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .poll-btn {
    background-color: #0073b8;

    &:hover {
      opacity: 0.8;
    }
  }
</style>
