<script setup>
defineProps({
  ranks: {
    type: Array,
    required: true
  }
})
</script>

<template>
  <div class="mb-10">
    <div class="text-2xl font-bold mb-5">
      候選人列表
    </div>
    <ul>
      <li
        v-for="(data, index) in ranks"
        :key="index"
        class="flex items-center mb-6"
      >
        <CandidateCard
          :index="index"
          :data="data"
          show-title
          show-index
        />
      </li>
    </ul>

    <div class="text-center bg-blue-100 rounded hover:opacity-80 transition ease-in-out">
      <NuxtLink
        class="block p-3 text-primary"
        to="/leaderboard"
      >
        查看總覽
      </NuxtLink>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .point {
    color: #fc9501;
  }

  .link {
    &:hover {
      .icon {
        filter: invert(34%) sepia(51%) saturate(7025%) hue-rotate(185deg) brightness(89%) contrast(101%);
      }
    }
  }
</style>
