<template>
  <div class="index-block">
    <div class="map-block">
      <svg
        id="target"
        class="map-block__map taiwan-map js-taiwan-map"
        :class="{ 'selected': result.city !== '' }"
        width="100%"
        height="100%"
      >
        <!-- draw with d3.js -->
      </svg>
      <div id="tooltip" />
      <div class="map-block__tip">
        <PartialsPointerTip
          message="點一下你的城市，查看更多候選人資訊！"
          width="350px"
        />
      </div>
    </div>
  </div>
</template>

<script>

import cityTopo from '~/assets/topo/city'
import * as d3 from 'd3'
import * as topojson from 'topojson-client'
import debounce from 'lodash/debounce.js'

const CITIES = topojson.feature(cityTopo, cityTopo.objects.COUNTY_MOI_1090820)

export default {

  emits: ['change'],

  data () {
    return {
      result: {
        city: ''
      }
    }
  },

  mounted () {
    this.draw()

    if (this.deviceType() === 'desktop') {
      window.addEventListener('resize', debounce(() => {
        this.destroyMap()
        this.draw()
      }))
    }
  },

  methods: {
    draw () {
      const svg = d3.select('#target')
      const container = svg.append('g')
      const width = document.querySelector('.js-taiwan-map').clientWidth
      const height = document.querySelector('.js-taiwan-map').clientHeight
      const path = d3.geoPath().projection
      const projection = d3.geoMercator().fitExtent([[0, 0], [width, height]], CITIES)

      container
        .selectAll('.city-path')
        .data(CITIES.features)
        .enter()
        .append('a')
        .attr('href', function (d) { return `/map?city=${d.properties.COUNTYNAME}` })
        .append('path')
        .attr('class', function (d) { return 'city-path js-city-path' })
        .attr('d', path(projection))
        .on('mousemove', this.onMouseMovePath).on('mouseout', this.onMouseOutPath)

      this.resetZoom()
    },

    onMouseMovePath (d) {
      const city = d.target.__data__.properties.COUNTYNAME

      d3.select('#tooltip').transition().duration(200).style('opacity', 0.9)

      d3.select('#tooltip').html(city)
        .style('left', (d.pageX) + 'px')
        .style('top', (d.screenY - 200) + 'px')
    },

    onMouseOutPath (d) {
      d3.select('#tooltip').transition().duration(500).style('opacity', 0)
    },

    resetZoom () {
      const container = d3.select('#target g')
      const width = document.querySelector('.js-taiwan-map').clientWidth
      const height = document.querySelector('.js-taiwan-map').clientHeight

      const zoom = d3.zoom().on('zoom', (event) => {
        container.attr('transform', 'translate(' + width / 2 * 0.2 + ',' + height / 2 * 1.5 + ')scale(' + 4 + ')translate(' + -width / 2 + ',' + -height / 4 + ')')
      })

      container.call(zoom.transform, d3.zoomIdentity)
    },

    destroyMap () {
      const container = d3.select('#target g')
      container.remove()
    },

    deviceType () {
      const ua = navigator.userAgent
      if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
        return 'tablet'
      } else if (/Mobile|Android|iP(hone|od)|IEMobile|BlackBerry|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
        return 'mobile'
      }
      return 'desktop'
    }
  }
}
</script>

<style lang="scss" scoped>
.map-block {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc(771px / 588px) * 100%;

  &__tip {
    position: absolute;
    top: 5%;
    right: 25%;
    z-index: 1;
    pointer-events: none;
    transition-delay: 1s;
    transition-duration: 0.5s;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .map-block {
      &__tip {
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }
}

#tooltip {
  position: fixed;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  opacity: 0;
}
</style>

<style lang="scss">
  .index-block {
    .taiwan-map {
      .city-path {
        fill: #f97f94;
        stroke: #fff;
        stroke-width: 0.1px;

        &:hover {
          fill: #f54278;
        }

        &.active {
          pointer-events: none;
          stroke: yellow;
          stroke-width: 1px;
        }
      }

      &.selected {
        .city-path:not(.active) {
          fill: #e693a2;

          &:hover {
            fill: #f54278;
          }
        }
      }
    }
  }
</style>
