<script setup>
defineProps({
  questions: {
    type: Object,
    required: true
  }
})

const isShowPopup = ref(false)

const onClickOpenPopup = () => {
  isShowPopup.value = true
}

const onClickClosePopup = () => {
  isShowPopup.value = false
}

defineExpose({ onClickOpenPopup, onClickClosePopup })
</script>

<template>
  <var-popup
    v-model:show="isShowPopup"
    :overlay-style="{backgroundColor: 'rgba(34, 35, 35, 0.46)'}"
    :close-on-click-overlay="false"
    style="

  --popup-content-background-color: #fafafa;"
    class="max-w-[80%] max-h-[80vh] w-full h-full rounded bg-white"
  >
    <div class="text-center border-b border-gray-100 py-6 font-bold text-2xl flex justify-center items-center relative">
      <div class="mx-auto">
        選舉小知識
      </div>
      <span
        class="cursor-pointer absolute right-7"
        @click="onClickClosePopup"
      >
        <img src="@/assets/svg/icon-x.svg">
      </span>
    </div>
    <div class="px-24 lg:px-12 md:px-4">
      <ul>
        <li
          v-for="(item, index) in questions"
          :key="index"
          :class="{ 'border-b': (index + 1) < questions.length }"
          class="pt-10 border-gray-100 pb-6 md:pb-4 md:pt-5"
        >
          <div class="font-bold text-xl md:text-lg py-2">
            {{ item.question }}
          </div>
          <div class="text-lg md:text-base">
            {{ item.anser }}
          </div>
        </li>
      </ul>
    </div>
  </var-popup>
</template>
