<script setup>
import defaultAvatar from '@/assets/svg/avatar_default.svg'

const props = defineProps({
  source: {
    type: [String, Boolean, null],
    default: ''
  },
  alt: {
    type: String,
    default: 'avatar'
  }
})

const failed = ref(false)
const useDefaultAvatar = computed(() => !props.source || failed.value)
const avatar = computed(() => useDefaultAvatar.value ? defaultAvatar : props.source)
</script>

<template>
  <div class="avatar">
    <client-only>
      <img
        :key="source"
        :src="avatar"
        :alt="alt"
        draggable="false"
        @error="failed = true"
      >
    </client-only>
  </div>
</template>

<style lang="scss">
  .avatar {
    @include aspect-ratio(1, 1);
    @apply relative rounded-full overflow-hidden;

    img {
      @apply absolute inset-0 w-full h-full object-cover;
    }
  }
</style>
