<script setup>
defineProps({
  loading: {
    type: Boolean,
    default: false
  },
  cancelStyle: {
    type: Boolean,
    default: false
  }
})
</script>

<template>
  <button
    class="base-button disabled:pointer-events-none disabled:cursor-not-allowed disabled:select-none"
    type="button"
    :class="{ 'cancel': cancelStyle }"
  >
    <template v-if="loading">
      <var-loading
        type="circle"
        class="h-full"
      />
    </template>
    <template v-else>
      <slot />
    </template>
  </button>
</template>

<style lang="scss">
.base-button {
  &:disabled,
  &.cancel {
    @apply bg-gray-300;
  }

  &.cancel {
    @apply hover:bg-theme-2;
  }
}
</style>
