<script setup>
import { onClickOutside, useScrollLock } from '@vueuse/core'
import { nanoid } from 'nanoid'
import { useModal } from '~~/common/shared-state'

const props = defineProps({
  open: {
    type: Boolean,
    required: true
  },
  backdrop: {
    type: Boolean,
    default: true
  }
})

const id = nanoid()
const emit = defineEmits(['update:open'])
const activeModal = useModal()
const current = computed(() => activeModal.value[activeModal.value.length - 1])
const modal = ref(null)
const lockBody = process.client ? useScrollLock(document.body) : ref(false)
const insertBody = ref(false)

onClickOutside(
  modal,
  (e) => {
    if (e.target.id === 'loading-mask' || current.value !== id || !props.backdrop) return
    emit('update:open', false)
  }
)

watch(() => props.open, open => {
  if (open) {
    activeModal.value.push(id)
    lockBody.value = true
    insertBody.value = true

    nextTick(() => {
      modal.value.focus()
    })
  } else {
    activeModal.value.pop()

    if (!activeModal.value.length) {
      lockBody.value = false
    }
  }
})
</script>

<script>
export default {
  inheritAttrs: false
}
</script>

<template>
  <client-only>
    <Teleport
      to="body"
      :disabled="!insertBody"
    >
      <Transition
        name="modal-animation"
        :duration="{ enter: 600, leave: 300 }"
        @after-leave="insertBody = false"
      >
        <div
          v-show="open"
          class="base-modal fixed inset-0 z-[200] grid place-items-center"
          :data-modal="id"
        >
          <div class="backdrop fixed inset-0 bg-black/60" />
          <div class="modal-outer grid place-items-center w-full h-full overflow-auto overscroll-contain">
            <div
              ref="modal"
              class="modal-wrapper relative min-w-[343px] my-10 mx-4 outline-none"
              tabindex="-1"
              role="dialog"
              :aria-hidden="!open"
              v-bind="$attrs"
            >
              <slot />
            </div>
          </div>
        </div>
      </Transition>
    </Teleport>
  </client-only>
</template>
