<script setup>
import { useResizeObserver } from '@vueuse/core'

const emit = defineEmits(['tab-changed'])
const props = defineProps({
  data: {
    type: Array,
    required: true,
    default: () => (['即時新聞', '焦點新聞', '影音LIVE'])
  },
  simple: {
    type: Boolean,
    default: false
  },
  pillShape: {
    type: Boolean,
    default: false
  },
  highlight: {
    type: Array,
    default: () => []
  },
  withLine: {
    type: Boolean,
    default: false
  },
  initialIdx: {
    type: Number,
    default: 0
  }
})

const element = ref(null)
const currentTab = ref(props.initialIdx) // index of the data array
const indicator = reactive({
  offset: 0,
  width: 0
})

function changeTab (idx) {
  currentTab.value = idx
  emit('tab-changed', idx)
}

function updateCanvas () {
  const activeEl = element.value.querySelector('[data-tab]')
  if (!activeEl) return

  const { scrollLeft, offsetWidth: containerWidth } = element.value
  const { offsetLeft, offsetWidth } = activeEl
  const relOffsetLeft = offsetLeft - scrollLeft
  const isBoundary = relOffsetLeft < 0 || containerWidth - (relOffsetLeft) <= offsetWidth

  if (isBoundary) {
    element.value.scrollTo({ left: offsetLeft, behavior: 'smooth' })
  }

  // set indicator
  indicator.offset = `${activeEl.offsetLeft}px`
  indicator.width = `${activeEl.offsetWidth}px`
}

onMounted(updateCanvas)

useResizeObserver(element, () => {
  updateCanvas()
})

watch(currentTab, () => {
  nextTick(updateCanvas)
})

defineExpose({
  currentTab
})
</script>

<template>
  <div
    class="base-tab-wrapper relative"
    :class="{ 'with-line': withLine }"
  >
    <div
      ref="element"
      class="base-tab snap-scroll horizontal"
      :class="{ 'base-tab--simple': simple, 'base-tab--pill-shape': pillShape }"
      :style="{
        '--tab-offset': indicator.offset,
        '--tab-width': indicator.width
      }"
    >
      <div class="tab-track relative grid grid-flow-col gap-8 auto-cols-max">
        <button
          v-for="(item, idx) in data"
          :key="item"
          type="button"
          class="tab em:pt-3 em:pb-5 px-1 text-lg md:text-base"
          :class="{
            'text-white md:border-theme-2': pillShape && currentTab === idx,
            'highlight': highlight.includes(item)
          }"
          :aria-label="currentTab === idx ? `Current Tab` : `Tab`"
          :data-tab="currentTab === idx ? '' : null"
          @click="changeTab(idx)"
        >
          <slot :data="item">
            <span>{{ item }}</span>
          </slot>
        </button>
        <div class="indicator" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.base-tab-wrapper.with-line {
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    content: '';
    background-color: #d8d8d8;
    border-radius: 4px;
  }
}

.base-tab {
  position: relative;

  .tab {
    scroll-snap-align: start;
    transition: all 250ms ease;

    >span {
      position: relative;
      z-index: 1;
    }
  }

  .tab-track {
    z-index: 1;
  }

  .indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: var(--tab-width, 67px);
    height: 6px;
    background-color: theme('colors.theme.2');
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94), width 250ms ease;
    transform: translateX(var(--tab-offset));
  }

  &--simple {
    .indicator {
      height: 5px;
      border-radius: 0;
    }

    .tab {
      @apply py-3;
    }

    .tab-track {
      gap: 20px;
    }
  }

  &--pill-shape {
    .indicator {
      width: var(--tab-width, 67px);

      @apply h-full rounded-full top-0 right-0 z-0 my-auto;
    }

    .tab {
      z-index: 1;

      @apply py-2.5 px-4 md:border md:rounded-full md:border-gray-50;
    }
  }
}
</style>
