@use 'sass:list';

// 多行的 text truncate
@mixin text-overflow($line: 1) {
  @if $line > 1 {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } @else {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@mixin aspect-ratio($width, $height, $usePseudo: true) {
  position: relative;
  aspect-ratio: #{$width} / #{$height};

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @supports not (aspect-ratio: auto) {
    @if $usePseudo == true {
      > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &::before {
        display: block;
        padding-top: calc(#{$height} / #{$width} * 100%);
        content: '';
      }
    } @else {
      padding-top: calc(#{$height} / #{$width} * 100%);
    }
  }
}

@mixin ripple-animation($name, $color, $size, $num: 3, $opacity: 0.3, $duration: 1) {
  $value1: ();
  $value2: ();

  @for $i from 1 through $num {
    $value1: list.append($value1, 0 0 0 $size * ($i - 1) rgba($color, $opacity), comma);

    @if $i == $num {
      $opacity: 0;
    }

    $value2: list.append($value2, 0 0 0 $size * $i rgba($color, $opacity), comma);
  }

  @keyframes #{$name} {
    from {
      box-shadow: $value1;
    }

    to {
      box-shadow: $value2;
    }
  }

  animation: $name #{$duration}s linear infinite;

  // @keyframes #{$name} {
  //   0% {
  //     box-shadow: 0 0 0 0 #{rgba($color, .2)},
  //       0 0 0 $gap #{rgba($color, .15)},
  //       0 0 0 $gap * 2 #{rgba($color, .1)},
  //       0 0 0 $gap * 3 #{rgba($color, .05)};
  //   }

  //   100% {
  //     box-shadow: 0 0 0 $gap #{rgba($color, .15)},
  //       0 0 0 $gap * 2 #{rgba($color, .1)},
  //       0 0 0 $gap * 3 #{rgba($color, .05)},
  //       0 0 0 $gap * 4 #{rgba($color, 0)};
  //   }
  // }
}
