.modal-animation {
  &-enter-from,
  &-leave-to {
    transform: scale(0);

    .backdrop {
      opacity: 0;
    }
  }

  &-enter-to,
  &-leave-from {
    transform: scale(1);

    .backdrop {
      opacity: 1;
    }
  }

  &-enter-active {
    transition: transform 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.27);

    .backdrop {
      transition: opacity 0.5s ease 0.1s;
    }
  }

  &-leave-active {
    transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);

    .backdrop {
      transition: opacity 0.3s ease;
    }
  }
}

.dropdown-animation {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: scale(1);
  }

  &-enter-active,
  &-leave-active {
    transform-origin: 0 0;
  }

  &-enter-active {
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.35s ease;
  }

  &-leave-active {
    transition: transform 0.2s cubic-bezier(0.55, 0.08, 0.68, 0.53), opacity 0.2s ease;
  }
}

.expand-right {
  &-enter-from,
  &-leave-to {
    clip-path: inset(0 100% 0 0);
  }

  &-enter-to,
  &-leave-from {
    clip-path: inset(0);
  }

  &-enter-active {
    transition: clip-path 250ms cubic-bezier(0.55, 0.08, 0.68, 0.53);
  }

  &-leave-active {
    transition: clip-path 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &-enter-active,
  &-leave-active {
    pointer-events: none;
  }
}

.slide-right {
  &-enter-from,
  &-leave-to {
    transform: translateX(-100%);
  }

  &-enter-to,
  &-leave-from {
    transform: translateX(0);
  }

  &-enter-active {
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &-leave-active {
    transition: transform 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
}

.slide-up {
  &-enter-from,
  &-leave-to {
    transform: translateY(100%);
  }

  &-enter-active {
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &-leave-active {
    transition: transform 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
}

.fade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity 250ms ease-in-out;
  }
}

.fade-up {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(10px);
  }

  &-enter-active {
    transition: transform 500ms cubic-bezier(0.65, 0.05, 0.36, 1), opacity 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  &-leave-active {
    transition: transform 300ms cubic-bezier(0.55, 0.06, 0.68, 0.19), opacity 300ms ease;
  }
}

.slide-show {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    transition: 2s opacity ease;
  }

  &-leave-active {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.switch-icon {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: scale(1);
  }

  &-enter-active,
  &-leave-active {
    transition: transform 200ms cubic-bezier(0.35, 1.88, 0.64, 1), opacity 200ms ease;
  }

  &-leave-active {
    position: absolute;
  }
}

.panel-slide-left,
.panel-slide-right {
  &-leave-active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.25s ease;
  }

  &-enter-active {
    transition: transform 0.25s ease;
  }
}

.panel-slide-left {
  &-enter-from {
    transform: translateX(100%);
  }

  &-leave-to {
    transform: translateX(-100%);
  }
}

.panel-slide-right {
  &-enter-from {
    transform: translateX(-100%);
  }

  &-leave-to {
    transform: translateX(100%);
  }
}

@keyframes recording-blink {
  30% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes marquee {
  to {
    transform: translateX(-100%);
  }
}

@keyframes gradient-move-x {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 100%;
  }
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.6s ease-in-out;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.list-leave-from,
.list-enter-to {
  opacity: 1;
  transform: translateY(0);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
  bottom: 0;
  width: 100%;
}
