@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  ul,
  ol {
    list-style: none;
  }

  body {
    min-width: 375px;
    min-height: 100vh;
    font-family: theme('fontFamily.base');
    line-height: 1.22;
    color: theme('colors.black');
    letter-spacing: 0.05em;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background-color: #f7f8fd;
  }

  a {
    color: currentColor;
    outline: none;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: inherit;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    appearance: none;
    font: inherit;
    letter-spacing: inherit;
    cursor: pointer;
    outline: none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
  }

  label {
    cursor: pointer;
  }

  [class*='material-icons'] {
    display: block;
    font-size: 1.25em;
  }
}
