@use './reset.scss';
@use './components/index';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-container-width: 87.5vw;
  --container-padding: 15px;
  --nav-height: 246px;

  @screen 2xl {
    --nav-height: 150px;
  }

  @screen md {
    --nav-height: 134px;
  }

  @media (max-width: 1280px) {
    --max-container-width: 100%;
  }
}

@layer base {
  a {
    @apply hover:text-primary;
  }
}

@layer utilities {
  .l-container {
    max-width: min(calc(var(--max-container-width) + var(--container-padding) * 2), 1680px);
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 1280px) {
      &.mid-size {
        --max-container-width: 76.56vw;
      }
    }
  }

  .alt-text {
    font-size: 0;
    line-height: 0;
  }

  .scrollable {
    /* FireFox */
    scrollbar-width: thin;
    scrollbar-color: theme('colors.theme.2') transparent;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    /* Add a thumb */
    &::-webkit-scrollbar-thumb {
      background: theme('colors.theme.2');
      border-radius: 10px;
    }
  }

  .font-number {
    font-family: 'Helvetica Neue', sans-serif;
  }
}
