@use '../abstract.scss' as *;

@layer components {
  .base-card-sm {
    @apply text-lg md:text-base gap-4;
  }

  .base-card {
    &__published {
      @apply text-gray-300;
    }

    &__category-link {
      @apply text-primary font-medium hover:text-theme-2;
    }

    &__news-title > * {
      @apply hover:underline;
      @include text-overflow(2);
    }

    &__news-info {
      @apply grid grid-flow-col gap-3 items-center justify-start text-base md:text-sm;
    }

    &__tools {
      @apply grid grid-flow-col gap-3 items-center justify-start text-lg sm:text-base;
    }
  }
}
