@use '../abstract.scss' as *;

@layer components {
  .base-button {
    @apply
      bg-primary rounded pt-2.5 pb-2 px-4 text-white text-xl transition md:text-base
      hover:bg-theme-2 hover:text-white focus:ring ring-theme-2/30;
  }

  .base-category-title {
    @apply text-xl text-gray-400 sm:text-base grid grid-flow-col gap-4 items-center max-w-fit;
  }

  .base-action-share {
    @apply text-lg md:text-base;
  }

  .btn-effect {
    @apply hover:scale-105 active:scale-100 transition-transform;
  }

  .search-input-container {
    @apply em:py-2 em:px-4 rounded text-xl md:text-base;
  }

  .search-input-container--white {
    @apply border border-gray-100;
  }

  // .search-input {
  // }

  .search-input--white {
    @apply text-black placeholder-gray-100 bg-transparent;
  }

  .avatar {
    @apply h-fit w-full rounded-full overflow-hidden focus:ring ring-theme-2/30;
  }

  .pop-item {
    @apply shadow-md bg-white rounded overflow-hidden border border-[#F2F2F2];
  }

  .pop-item__link {
    @apply hover:bg-blue-100 hover:text-theme-2;
  }

  .hamburger {
    --bar-h: 2px;
    --bar-gap: 4px;

    font-size: 0;

    @apply flex items-center justify-center;

    .icon {
      gap: var(--bar-gap);

      >span {
        display: block;
        height: var(--bar-h);
        background-color: currentColor;
        border-radius: 1px;
        transition: opacity 0.2s ease, transform 0.3s ease;
      }
    }

    &.active {
      span:nth-child(2) {
        opacity: 0;
        transform: translateX(20%);
      }

      span:nth-child(1) {
        transform: translateY(100%) translateY(var(--bar-gap)) rotate(45deg);
      }

      span:nth-child(3) {
        transform: translateY(-100%) translateY(calc(var(--bar-gap) * -1)) rotate(-45deg);
      }
    }
  }

  .category-link {
    @apply text-primary font-medium hover:text-theme-2;
  }

  .snap-scroll {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.horizontal {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }

    &.vertical {
      overflow-y: auto;
      scroll-snap-type: y mandatory;
    }

    &:not(.scrollable) {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .scroll-item {
      scroll-snap-align: start;
    }
  }

  .share-bar {
    @apply text-primary;
  }

  .base-section-title {
    @apply text-theme-2;
  }

  .program-page {
    .divider {
      height: 1px;
      margin: 40px 0;
      background-color: theme('colors.gray.80');
    }

    .program-section {
      @apply md:px-3;

      &__title {
        @apply text-3xl md:text-xl font-medium grid grid-flow-col gap-5 items-center auto-cols-max mb-5;

        button {
          @apply text-lg md:text-base;
        }
      }
    }
  }

  .tooltip {
    @apply relative w-fit;
  }
}
