@use '../abstract.scss' as *;

@layer components {
  .input-radio {
    position: relative;
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-radius: 50%;

    &::after {
      position: absolute;
      inset: 0.15em;
      content: '';
      background-color: currentColor;
      border-radius: inherit;
      transition: transform 200ms ease;
      transform: scale(0);
    }

    &:checked {
      color: theme('colors.primary');

      &::after {
        transform: scale(1);
      }
    }
  }

  .input-checkbox {
    --check-icon-color: #fff;
    --check-bg-color: theme('colors.primary');

    border-color: var(--check-bg-color);

    @apply relative text-xl em:w-4 em:h-4 border-2 rounded-xs grid place-items-center transition-all;

    &::after {
      display: block;
      margin-left: 0.05em;
      font-family: 'Material Icons Round', sans-serif;
      font-size: 0.7em;
      font-weight: 700;
      color: var(--check-icon-color);
      content: 'check';
      transition: transform 400ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
      transform: scale(0);
    }

    &:checked {
      background-color: var(--check-bg-color);

      &::after {
        transform: scale(1);
      }
    }

    &.invalid {
      @apply border-red ring-2 ring-red/30;
    }
  }
}
