@layer components {
  .vote-chart {
    .highcharts-container {
      position: absolute;
      inset: 0;
    }

    .highcharts-background {
      fill: transparent;
    }

    .chart-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: #9ea7ba;

      &.voted {
        color: theme('colors.gray.500');
      }
    }

    .chart-count {
      font-size: 16px;
      line-height: 20px;
      color: #acacac;
    }

    .chart-percent {
      font-size: 24px;
      line-height: 29px;
      color: #415072;

      &.voted {
        color: #0089db;
      }
    }

    .chart-percent-m {
      font-size: 14px;
      stroke: none;

      // fill: #fff;
    }
  }
}
