<script setup>
import { storeToRefs } from 'pinia'
import { useOverlayStateStore } from '@/store/overlay'

const { isOpenOverlay } = storeToRefs(useOverlayStateStore())

useHead({
  title: '2022九合一大選 | 中天新聞網',
  meta: [
    { name: 'description', content: '2022九合一選舉11月26日登場，下午4點開票，這次除了要選出全國的縣市長和縣市議員，也包含六都（台北市、新北市、桃園市、台中市、台南市與高雄市）的直轄市長和直轄市議員。另外，還有鄉（鎮、市）長、直轄市山地原住民區長、鄉（鎮、市）民代表、直轄市山地原住民區民代表，以及村（里）長。中天新聞網同步即時開票，並有各地選情即時報導與直播、選後評論及數據分析，帶您透過各層面了解本屆選戰。九合一選舉新聞都在中天新聞網。' },
    { property: 'og:title', content: '2022九合一大選 | 中天新聞網' },
    { property: 'og:description', content: '決戰11月26日！選民在2022九合一選戰投下關鍵選票，《中天新聞網》為您掌握最新變化，給您最即時的選舉快訊與直播，陪您關注九合一選舉最終戰局。' }
  ]
})

</script>

<template>
  <div
    id="main"
    class="relative bg-[#FAFAFA]"
  >
    <div class="md:hidden">
      <PartialsHeader />
    </div>

    <slot />

    <PartialsFooter />

    <div
      v-show="isOpenOverlay"
      class="overlay"
    />
  </div>
</template>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

</style>
