<script setup>
useHead({
  link: [
    { rel: 'icon', href: '/favicon.ico' },
    { rel: 'preconnect', href: 'https://fonts.googleapis.com' },
    { rel: 'preconnect', href: 'https://fonts.gstatic.com', crossorigin: true },
    { rel: 'stylesheet', href: 'https://fonts.googleapis.com/icon?family=Material+Icons+Round' },
    { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap' }
  ]
})
</script>

<template>
  <div
    id="error"
    class="error-layout bg-white"
  >
    <div class="min-h-screen flex flex-col">
      <div class="flex-1 flex flex-col">
        <div class="border-b border-gray-50 bg-white">
          <div class="h-24 lg:h-20 md:h-[75px]">
            <div class="h-full l-container grid gap-4 auto-cols-max items-center justify-between">
              <div class="logo col-start-1 col-span-2 row-start-1 row-end-2 flex lg:justify-center">
                <a href="/">
                  <img
                    src="~/assets/img/logo.png"
                    srcset="~/assets/img/logo.png 1x, ~/assets/img/logo@2x.png 2x"
                    class="h-12 lg:h-10"
                    draggable="false"
                    alt="CTITV LOGO"
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="view flex items-center md:block md:px-4 md:pt-2 l-container flex-grow-1 lg:flex-grow-0 w-full pt-20"
        >
          <div>
            <h1 class="text-2xl text-primary font-medium font-number mb-8">
              <slot name="status" />
            </h1>
            <slot />
          </div>
          <div class="lg:row-start-1 lg:mt-10">
            <slot name="image" />
          </div>
        </div>
      </div>
      <div class="footer mb-5 mt-20 text-sm">
        <ul class="flex justify-center font-medium">
          <li>
            <a
              href="#"
              target="_blank"
            >中天電視</a>
          </li>｜
          <li>
            <a
              href="#"
              target="_blank"
            >使用條款</a>
          </li>｜
          <li>
            <a
              href="#"
              target="_blank"
            >隱私權政策</a>
          </li>｜
          <li>
            <a
              href="#"
              target="_blank"
            >免責聲明</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.error-layout {
  .view {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 42.85%;
    gap: 40px;
    place-content: center;

    @screen lg {
      grid-template-columns: 100%;
      gap: 48px;
      place-items: center;
    }
  }
}
</style>
