<script setup>
const props = defineProps({
  open: {
    type: Boolean,
    required: true
  },
  confirmText: {
    type: String,
    default: '確定'
  },
  cancelText: {
    type: String,
    default: '取消'
  },
  onCancel: {
    type: Function,
    default: () => () => null
  },
  onConfirm: {
    type: Function,
    default: () => () => null
  },
  icon: {
    type: String,
    validator: v => ['alert', 'info', ''].includes(v),
    default: ''
  },
  confirm: {
    type: Boolean,
    default: true
  },
  cancel: {
    type: Boolean,
    default: false
  },
  withAction: {
    type: Boolean,
    default: false
  },
  cancelStyle: {
    type: String, // tailwind class
    default: ''
  },
  confirmStyle: {
    type: String,
    default: ''
  }
})

const emit = defineEmits(['update:open', 'action-canceled', 'action-confirmed'])

const pending = ref(null)
const cancelAwaiting = ref(false)
const confirmAwaiting = ref(false)
const trigger = computed({
  get: () => props.open,
  set: (value) => {
    emit('update:open', value)
  }
})
const slotClassList = computed(() => {
  if (!props.withAction) {
    return 'em:max-w-sm mx-auto text-center mb-3'
  } else {
    return ''
  }
})

async function onCancelCallback () {
  // show loading icon if the callback is an async function
  if (props.onCancel.constructor.name === 'AsyncFunction') {
    confirmAwaiting.value = true
  }

  try {
    await props.onCancel()

    trigger.value = false
    emit('action-canceled')
  } catch (e) {
    console.warn('action canceled: ', e.message)
  }
  executeProcess('reject')
  cancelAwaiting.value = false
}

async function onConfirmCallback () {
  // show loading icon if the callback is an async function
  if (props.onConfirm.constructor.name === 'AsyncFunction') {
    confirmAwaiting.value = true
  }

  try {
    await props.onConfirm()

    executeProcess('resolve')
    emit('action-confirmed')
    trigger.value = false
  } catch (e) {
    console.warn('action canceled: ', e.message)
    executeProcess('reject')
  }
  confirmAwaiting.value = false
}

function open () {
  return new Promise((resolve, reject) => {
    trigger.value = true
    pending.value = { resolve, reject }
  })
}

async function executeProcess (status) {
  if (!pending.value) return
  pending.value[status](status)
}

defineExpose({
  open
})
</script>

<template>
  <LazyBaseModal v-model:open="trigger">
    <div class="pop-item bg-white pb-7 px-7 md:px-5 md:pb-5 grid grid-flow-row w-[550px] sm:w-full">
      <div
        v-if="icon"
        class="-translate-x-1/4 justify-self-center"
      >
        <IconSprite
          :id="`msg-${icon}`"
          width="111"
          height="100"
        />
      </div>
      <div
        class="my-7 text-xl md:text-lg leading-snug"
      >
        <div :class="slotClassList">
          <slot />
        </div>
      </div>
      <div
        class="grid grid-flow-col auto-cols-fr gap-5 md:gap-4 place-content-center w-[370px] md:w-full"
        :class="withAction ? 'justify-self-end' : 'justify-self-center'"
      >
        <BaseButton
          v-if="cancel"
          class="h-16 md:h-14 bg-gray-300 md:text-base"
          :loading="cancelAwaiting"
          :class="cancelStyle"
          @click="onCancelCallback"
        >
          {{ cancelText }}
        </BaseButton>
        <div v-else-if="withAction" />
        <BaseButton
          v-if="confirm"
          class="h-16 md:h-14 md:text-base"
          :loading="confirmAwaiting"
          :class="confirmStyle"
          @click="onConfirmCallback"
        >
          {{ confirmText }}
        </BaseButton>
      </div>
    </div>
  </LazyBaseModal>
</template>
