<script setup>
useHead({
  title: computed(() => '找不到網頁 | 中天新聞網')
})

async function back () {
  await clearError({ redirect: window.history.state.back })
}

async function goHome () {
  await clearError({ redirect: '/' })
}
</script>

<template>
  <NuxtLayout name="error">
    <div class="error-404">
      <p class="text-[56px] font-medium md:text-5xl">
        噢不！<br>
        你探索到中天不存在的地方了
      </p>
      <p class="text-gray-500 text-lg mt-8 md:mt-3">
        抱歉，您要查找的頁面不存在或已被移動。以下是提供你回去的按鈕：
      </p>
      <div class="grid grid-flow-col gap-5 text-xl md:text-base mt-16 auto-cols-[180px] md:auto-cols-fr">
        <button
          type="button"
          class="em:h-16 flex items-center justify-center rounded-md border border-gray-300 px-5 hover:bg-blue-100 hover:border-gray-50 transition focus:ring ring-blue-100"
          @click="back"
        >
          <svg
            width="20"
            height="14"
            viewBox="0 0 20 14"
            fill="none"
            class="mr-4"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20 6.4979V7.4979C20 7.77404 19.7761 7.9979 19.5 7.9979H3.33L7.78 12.4379C7.87466 12.5318 7.9279 12.6596 7.9279 12.7929C7.9279 12.9262 7.87466 13.054 7.78 13.1479L7.07 13.8479C6.97612 13.9426 6.84832 13.9958 6.715 13.9958C6.58168 13.9958 6.45388 13.9426 6.36 13.8479L0.22 7.7179C0.0793075 7.57738 0.00017505 7.38674 0 7.1879V6.8079C0.00230401 6.60949 0.0811161 6.41962 0.22 6.2779L6.36 0.147899C6.45388 0.0532428 6.58168 0 6.715 0C6.84832 0 6.97612 0.0532428 7.07 0.147899L7.78 0.857899C7.87406 0.950063 7.92707 1.07621 7.92707 1.2079C7.92707 1.33959 7.87406 1.46574 7.78 1.5579L3.33 5.9979H19.5C19.7761 5.9979 20 6.22176 20 6.4979Z"
              fill="#424242"
            />
          </svg>
          返回
        </button>
        <button
          type="button"
          class="em:h-16 flex items-center justify-center rounded-md border border-primary bg-primary text-white px-5 hover:bg-theme-2 transition hover:text-white focus:ring ring-primary/30"
          @click="goHome"
        >
          帶我回家
        </button>
      </div>
    </div>
    <template #status>
      404 error
    </template>
    <template #image>
      <img
        src="@/assets/img/404-image.png"
        alt="404"
        draggable="false"
        width="720"
        height="288"
      >
    </template>
  </NuxtLayout>
</template>
