<script setup>
// import Rank from '@/blocks/election/index/Rank'
// import Stories from '@/blocks/election/index/Stories'
import { useGroupStore } from '@/store/group'

// lazy load
// const TaiwanMap = defineAsyncComponent(() => import('@/components/index/TaiwanMap'))
// refs
const groupStore = useGroupStore()

// const storyData = ref(Array(6).fill({
//   avatar: 'https://dummyimage.com/36x36/000/fff.png',
//   name: '鍾暉逸',
//   support: '侯友宜'
// }))

const MapSearch = ref(null)
const tips = ref(null)

// methods
// function onClickOpenTips () {
//   tips.value.onClickOpenPopup()
// }

function onClickOpenAreaSearch () {
  MapSearch.value.onClickOpenPopup()
}

function onChangeMapSelect (obj) {
  MapSearch.value.setCity(obj.city)
  if (obj.cityArea) {
    MapSearch.value.setArea(obj.cityArea)
  }
}

// apis
const { data: pageData, error: apiError, pending } = await useApi('/api/election')
const { data: knowledgeData } = await useApi('/api/election/knowledge')
const { data: marquee } = await useApi('/api/news/marquee', { lazy: true })

if (apiError.value) {
  throw createError({ statusCode: 404, statusMessage: 'Server Error' })
}

const leaderBoard = computed(() => pageData.value.election.leaderBoard.slice(0, 5))
const questions = computed(() => knowledgeData.value.questions)

// const marquee = computed(() => {
//   if (!newsData.value) {
//     return []
//   }

//   return newsData.value.hero.marquee
// })

groupStore.fetch()
definePageMeta({ layout: 'election' })
</script>

<template>
  <ApiErrorBoundary
    :error="apiError"
    :pending="pending"
    :error-status="500"
  >
    <IndexCoverBanner />
    <NewsMarquee
      :feed="marquee || []"
      target="_blank"
      title="快訊"
      class="max-w-[1680px] bg-black mx-auto"
    />
    <div class="mt-6">
      <div class="l-container mx-auto flex flex-wrap">
        <div class="md:w-full lg:w-2/5 w-1/4 px-6 md:order-2 order-1">
          <IndexRank :ranks="leaderBoard" />
          <!-- TODO: 配合 demo 隱藏 -->
          <!-- <div class="hidden">
            <IndexPolls :polls="polls" />
          </div> -->
        </div>

        <div class="md:w-full lg:w-2/5 w-2/4 md:order-1 order-2 md:pr-0 relative">
          <LazyIndexTaiwanMap @change="onChangeMapSelect" />
        </div>

        <div class="md:w-full lg:w-1/5 w-1/4 order-3 md:pr-0">
          <div>
            <div class="mb-5 md:hidden">
              <PartialsCountDown />
            </div>

            <div
              class="cursor-pointer"
              @click="onClickOpenAreaSearch"
            >
              <div class="flex justify-center items-center py-4 bg-[#F1F6FF] mb-4 md:hidden">
                <img
                  class="mr-2 icon"
                  src="@/assets/svg/election/search.svg"
                >
                <span class="text-[#0089DB] text-lg">使用選單查詢</span>
              </div>
            </div>

            <!-- TODO: 配合 demo 隱藏 -->
            <NuxtLink
              to="/history"
              class="block cursor-pointer hidden"
            >
              <div class="flex justify-center items-center py-4 bg-[#F1F6FF]">
                <img
                  class="mr-2 icon"
                  src="@/assets/svg/election/search.svg"
                >
                <span class="text-[#0089DB] text-lg">查看過去資料</span>
              </div>
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
    <client-only>
      <IndexTips
        ref="tips"
        :questions="questions"
      />
    </client-only>
    <client-only>
      <IndexAreaSearch ref="MapSearch" />
    </client-only>
  </ApiErrorBoundary>
</template>

<style lang="scss" scoped>
.main {
  max-width: 1920px;
  padding: 0 120px;
}

.icon {
  filter:
    brightness(0)
    saturate(100%)
    invert(38%)
    sepia(97%)
    saturate(3287%)
    hue-rotate(181deg)
    brightness(96%)
    contrast(101%);
}
</style>
