<script setup>
import { useLeaderBoardStore } from '@/store/leaderboard'
import cities from '@/assets/TWCities.json'

definePageMeta({ layout: 'election' })

// const LeaderBoardPopup = defineAsyncComponent(() => import('@/blocks/election/leaderboard/Popup'))
// const LeaderBoardCard = defineAsyncComponent(() => import('@/blocks/election/leaderboard/Card'))

if (process.client) {
  const module = await import('chart.js')
  const {
    Chart,
    Filler,
    Title,
    Legend,
    LineElement,
    LinearScale,
    PointElement,
    CategoryScale,
    RadialLinearScale
  } = module

  Chart.register(
    Filler,
    Title,
    Legend,
    LineElement,
    LinearScale,
    PointElement,
    CategoryScale,
    RadialLinearScale
  )
}

const leaderBoardStore = useLeaderBoardStore()
const activeBtn = ref({
  'bg-primary': true,
  'text-white': true
})
const isShowPopup = ref(false)
const popup = ref(null)
const activeCandidate = ref(null)
const state = reactive({
  type: '0',
  countyName: '',
  townName: ''
})

const areaOptions = computed(() => {
  if (state.countyName) {
    return cities.find(row => row.name === state.countyName).districts
  }
  return [{ zip: '', name: '' }]
})

const hasNextPage = computed(() => !leaderBoardStore.completed)

// methods
const onClickElectionType = (type) => {
  state.type = type
  state.countyName = ''
  state.townName = ''
  leaderBoardStore.init(state)
}

const onClickOpenPopup = async (id) => {
  await fetchCandidate(id)
  isShowPopup.value = true
  popup.value.onClickOpenPopup()
}

const fetchCandidate = async (id) => {
  if (!id) {
    return
  }

  const { data: result } = await useApi(`/api/election/leaderboard/${id}`)

  activeCandidate.value = result.value
}

const load = () => {
  leaderBoardStore.load()
}

const onChangeCountyName = () => {
  state.townName = ''
  leaderBoardStore.init(state)
}

const onChangeTownName = () => {
  leaderBoardStore.init(state)
}

leaderBoardStore.init(state)
// if (process.server) {
//   leaderBoardStore.init(state)
// }

</script>
<template>
  <div class="l-container mt-6 relative md:mb-[66px]">
    <BackToIndex
      skip-loading
      class="absolute top-0 z-20 md:hidden"
    />

    <div class="flex items-center mb-5 justify-center">
      <h1 class="text-7xl text-center font-bold md:text-4xl">
        候選人列表
      </h1>
      <div class="ml-3 info relative">
        <img src="@/assets/svg/election/info.svg">
      </div>
    </div>

    <div class="grid grid-cols-3 gap-5 max-w-[480px] mx-auto mb-5">
      <button
        :class="[state.type === '0' ? activeBtn : '']"
        class="p-5 md:p-3 border rounded bg-white border-gray-100 hover:bg-primary hover:text-white"
        @click="onClickElectionType('0')"
      >
        全部<br class="hidden md:block">候選人
      </button>
      <button
        :class="[state.type === '1' ? activeBtn : '']"
        class="p-5 md:p-3 border rounded bg-white border-gray-100 hover:bg-primary hover:text-white"
        @click="onClickElectionType('1')"
      >
        縣市長候<br class="hidden md:block">選人
      </button>
      <button
        :class="[state.type === '2' ? activeBtn : '']"
        class="p-5 md:p-3 border rounded bg-white border-gray-100 hover:bg-primary hover:text-white"
        @click="onClickElectionType('2')"
      >
        縣市<br class="hidden md:block">議員
      </button>
    </div>

    <div
      v-if="state.type === '1'"
      class="max-w-[480px] mx-auto mb-5 text-center"
    >
      <select
        v-model="state.countyName"
        class="border rounded px-6 py-5 c-select w-[168px] md:w-full"
        @change="onChangeCountyName"
      >
        <option value="">
          請選擇城市
        </option>
        <option
          v-for="item in cities"
          :key="item"
          :value="item.name"
        >
          {{ item.name }}
        </option>
      </select>
    </div>

    <div
      v-if="state.type === '2'"
      class="max-w-[480px] mx-auto mb-5 text-center flex justify-center"
    >
      <select
        v-model="state.countyName"
        class="border rounded px-6 py-5 c-select w-[168px] md:p-4"
        @change="onChangeCountyName"
      >
        <option value="">
          請選擇城市
        </option>
        <option
          v-for="item in cities"
          :key="item"
          :value="item.name"
        >
          {{ item.name }}
        </option>
      </select>

      <select
        v-if="state.countyName"
        v-model="state.townName"
        class="border rounded px-6 py-5 c-select ml-5 w-[288px] md:w-full md:p-4"
        @change="onChangeTownName"
      >
        <option value="">
          請選擇區域
        </option>
        <option
          v-for="item in areaOptions"
          :key="item.name"
          :value="item.name"
        >
          {{ item.name }}
        </option>
      </select>
    </div>

    <!-- <div class="text-center max-w-[380px] mx-auto mb-5 md:text-sm">
      本區排名以Facebook 網路聲量KII指數為主<br>資料來源：LnData
    </div> -->

    <ul>
      <li
        v-for="(item, index) in leaderBoardStore.items"
        :key="index"
      >
        <LazyLeaderBoardCard
          :index="index"
          :data="item"
          @click-detail-btn="() => onClickOpenPopup(item.id)"
        />
      </li>
    </ul>

    <template v-if="hasNextPage">
      <InfiniteScroll
        class="mt-15"
        :activated="hasNextPage"
        @trigger="load"
      />
    </template>

    <LazyLeaderBoardPopup
      ref="popup"
      :data="activeCandidate"
    />

    <div class="hidden w-screen md:block md:fixed bottom-0 left-0 z-30 text-lg">
      <div class="flex">
        <div class="flex-1 bg-theme-2 h-full">
          <a
            class="h-[66px] flex items-center justify-center text-white hover:text-white hover:opacity-80"
            href="/election?skipLoading=true"
          >
            回選舉首頁
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.info {
  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    padding: 10px;
    color: #fff;
    white-space: nowrap;
    content: '每天記錄時段為00:00~24:00（不包括當日）';
    background: rgba(0, 0, 0, 0.6);
    transform: translate(105%, -50%);

    @screen xl {
      top: 100%;
      right: 50%;
      transform: translate(50%, 50%);
    }

    @screen md {
      right: 0%;
      font-size: 14px;
      transform: translate(0, 50%);
    }
  }

  &:hover {
    &::after {
      display: inline-block;
    }
  }
}

.c-select {
  background: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 17px;
  appearance: none;
}
</style>
