<script setup>
useHead({
  title: computed(() => '網站維護中 | 中天新聞網')
})

const maintenanceDur = ref({
  from: '2022-08-15 00:00',
  to: '2022-08-15 06:00'
})
</script>

<template>
  <NuxtLayout name="error">
    <div class="error-500">
      <p class="text-[56px] font-medium md:text-5xl">
        目前為網站維護時間，<br>
        造成困擾敬請見諒！
      </p>
      <p class="text-gray-500 text-lg mt-8 md:mt-3 flex items-center">
        維護時間：
        <span class="font-number flex items-center">
          {{ $timeFormat(maintenanceDur.from) }}
          <span class="material-icons-round mx-1 em:text-sm">
            horizontal_rule
          </span>
          {{ $timeFormat(maintenanceDur.to) }}
        </span>
      </p>
    </div>
    <template #status>
      例行維護
    </template>
    <template #image>
      <img
        src="@/assets/img/maintenance-image.svg"
        alt="maintenance"
        draggable="false"
        width="720"
        height="464"
      >
    </template>
  </NuxtLayout>
</template>
