<script setup>
// import { useUserStore } from '@/store/user'
// import { storeToRefs } from 'pinia'
// import { useOverlayState } from '@/store/overlay'

// const { isOpenOverlay } = storeToRefs(useOverlayState())
// const { API_BASE } = useRuntimeConfig()
// console.log(API_BASE)
// const store = useUserStore()

// if (!store.token) {
//   const data = await $fetch('/api/token')
//   store.updateToken(data)
// }

const { data } = await useApi('/api/test')
// const { $log } = useNuxtApp()
console.log('test api: ', data.value)
</script>

<template>
  <div>
    <h1 class="text-red-700">
      Index page
      <var-button>Default Button</var-button>
    </h1>
  </div>
</template>

<style lang="scss">
h1 {
  @include text-overflow(2);
}
</style>
