<template>
  <div
    class="block w-full relative overflow-y-auto pointer-events-auto md:flex md:items-end md:pt-[20%] md:overflow-y-hidden md:pointer-events-none"
  >
    <div
      v-if="query.city && !isLoading"
      class="card-block bg-white rounded border border-gray-100 w-full flex flex-col md:h-full"
      :class="
        {
          'md:max-h-[100%]': isAccordionActive,
          'md:max-h-[50%]': !isAccordionActive
        }
      "
      style="pointer-events: auto; transition: 0.3s;"
    >
      <div
        class="card-block__head border-b border-gray-100 px-5 relative"
      >
        <div
          class="card-block__tab"
        >
          <ul class="flex">
            <li
              v-for="(tab, tabIdx) in tabList"
              :key="tabIdx"
            >
              <button
                class="p-3 py-4 text-sm pb-3 border-b-2"
                :class="{
                  'border-blue-700': tab === currentTab,
                  'text-blue-700': tab === currentTab
                }"
                @click="onClickTab(tab)"
              >
                {{ tab }}
              </button>
            </li>
          </ul>
        </div>

        <div class="absolute h-full top-0 right-0 items-center hidden md:flex">
          <div class="w-10 p-4">
            <button
              type="button"
              @click="isAccordionActive = !isAccordionActive"
            >
              <img
                v-if="isAccordionActive"
                src="~assets/img/election/accordion-open.png"
              >
              <img
                v-else
                src="~assets/img/election/accordion-close.png"
              >
            </button>
          </div>
        </div>
      </div>

      <div class="card-block__body relative md:overflow-y-auto overflow-y-hidden p-5">
        <div class="card-block__label py-3">
          <h3
            v-if="query.electionType === 1"
            class="font-bold text-lg mb-5"
          >
            {{ `${displayTitle} ${list.length} 位` }}
          </h3>

          <h3
            v-if="query.electionType === 2"
            class="font-bold text-lg mb-5"
          >
            <div v-if="electionArea">
              {{ `${electionArea.area}：${electionArea.towns.map(town => town.town_name).join('、')} ${list.length} 位` }}
            </div>
            <div v-else>
              {{ `${query.area}：${list.length} 位` }}
            </div>
          </h3>
        </div>

        <div v-if="list.length === 0">
          查無選區資料
        </div>

        <div v-else>
          <ul class="p-0 m-0">
            <li
              v-for="(groupName, groupNameIdx) in groupNames"
              :key="groupNameIdx"
              :class="
                {
                  'mb-8': groupNameIdx !== groupNames.length -1
                }
              "
            >
              <div>
                <h3
                  v-if="groupNames.length > 1"
                  class="font-bold text-md mb-6 pb-2 text-gray-400"
                  style="border-bottom: 1px solid;"
                >
                  {{ groupName }}
                </h3>

                <ul
                  class="list grid gap-6"
                  :class="
                    {
                      'grid-cols-3': query.electionType === 1,
                      'md:grid-cols-3': query.electionType === 2,
                      'grid-cols-4': query.electionType === 2
                    }
                  "
                >
                  <li
                    v-for="(item, idx) in list.filter(candidate => candidate.group_name === groupName)"
                    :key="idx"
                  >
                    <div class="card">
                      <NuxtLink :to="`/candidate/${item.id}`">
                        <div
                          class="card__photo overflow-hidden border border-gray-100 rounded cursor-pointer pb-[120%] bg-cover bg-center mb-2"
                          :style="{backgroundImage: `url('${!!item.image ? item.image : placeholderImg}')`}"
                        />
                        <div
                          class="card__title text-sm text-gray-400 cursor-pointer duration-100 ease-in-out hover:opacity-80"
                        >
                          <div class="flex flex-wrap justify-center items-center">
                            <div
                              v-if="!!item.party.logo"
                              class="w-3 mb-2"
                            >
                              <img
                                :src="item.party.logo"
                                :alt="item.party.name"
                              >
                            </div>
                            <div class="mx-1 mb-2">
                              {{ item.name }}
                            </div>
                          </div>
                        </div>
                      </NuxtLink>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { storeToRefs } from 'pinia'
import { useAreaStore } from '@/store/area'
import _uniq from 'lodash/uniq.js'
import placeholderImg from '@/assets/img/election/placeholder-img.png'
import { ELECTION } from '~~/common/enum'

export default {
  setup () {
    const areaStore = useAreaStore()
    const { areas } = storeToRefs(areaStore)

    return {
      areaStore,
      areas
    }
  },

  data () {
    return {
      query: {
        city: this.$route.query.city || '',
        area: this.$route.query.area || '',
        electionType: ''
      },
      currentTab: '',
      isLoading: true,
      isAccordionActive: false,
      candidates: [],
      placeholderImg
    }
  },

  computed: {
    list () {
      const { city, area, electionType } = this.query
      const candidates = this.candidates

      if (electionType === 1) {
        return candidates.filter(el => el.region.city === city && el.region.area === '')
      }

      if (electionType === 2) {
        return candidates.filter(el => el.region.city === city && el.region.area === area && el.tab === this.currentTab)
      }

      return []
    },

    tabList () {
      const { city, area, electionType } = this.query
      const candidates = this.candidates

      if (electionType === 1) {
        return _uniq(candidates.filter(el => el.region.city === city && el.region.area === '').map(candidates => candidates.tab))
      }

      if (electionType === 2) {
        return _uniq(candidates.filter(el => el.region.city === city && el.region.area === area).map(candidates => candidates.tab))
      }

      return []
    },

    groupNames () {
      return _uniq(this.list.map(candidate => candidate.group_name))
    },

    electionArea () {
      const { city, area } = this.query
      const electionAreas = this.areas

      const index = electionAreas.findIndex(electionArea => electionArea.region === `${city}${area}`)

      if (index === -1) {
        return null
      }

      return electionAreas[index]
    },

    displayTitle () {
      const { city, electionType } = this.query
      const suffix = ELECTION.SUFFIX[electionType]
      const decorate = electionType === 5 ? '' : city.slice(-1)
      return `${city}${decorate}${suffix}`
    }
  },

  watch: {
    query: {
      handler (query) {
        this.fetchData(query)
        this.areaStore.fetch(query.city)
      },
      deep: true
    }
  },

  mounted () {
    this.fetchData(this.query)
    this.areaStore.fetch(this.query.city)
  },

  methods: {
    getElectionType (city, area) {
      //  參選類型 1: 縣市長, 2: 縣市議員, 3: 鄉鎮區長, 4: 里長, 5: 總統

      if (city && area) {
        return 2
      }

      if (city) {
        return 1
      }

      return ''
    },

    async fetchData (query) {
      const { city, area, electionType } = query

      this.isLoading = true

      if (this.candidates.findIndex(candidate => `${candidate.type}` === `${electionType}` && candidate.region.city === city && candidate.region.area === area) === -1) {
        const { data } = await useApi('/api/election/candidate/list', { params: { city, area, electionType, year: '2022' } })
        const candidates = this.proxyFetchData(data.value)

        candidates.forEach(candidate => {
          this.candidates.push(candidate)
        })
      }

      this.isLoading = false

      if (electionType === 1) {
        const candidates = this.candidates.filter(el => el.region.city === city && el.region.area === '') || []
        this.currentTab = candidates[0] ? candidates[0].tab : ''
      }

      if (electionType === 2) {
        const candidates = this.candidates.filter(el => el.region.city === city && el.region.area === area) || []
        this.currentTab = candidates[0] ? candidates[0].tab : ''
      }
    },

    jobTitle (type) {
      const job = {
        1: '縣市長',
        2: '縣市議員',
        3: '鄉鎮區長',
        4: '里長',
        5: '總統'
      }

      return job[type]
    },

    proxyFetchData (data) {
      const { city, area } = this.query

      if (!data || !Array.isArray(data)) {
        return []
      }

      return data.map(candidate => {
        candidate.region = { city, area }
        return candidate
      })
    },

    onClickTab (tabName) {
      this.currentTab = tabName
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  display: block;
  padding: 10px 20px;
  color: #fff;
  white-space: nowrap;
  background: #0073b8;
  border-radius: 6px;
}
</style>
