<script>
// import CountDown from '@/blocks/election/partials/CountDown'
import citiesData from '@/assets/TWCities.json'

export default {
  emits: ['input'],
  data () {
    return {
      location: {
        city: '',
        area: ''
      },
      options: {
        cities: [{ label: '請選擇城市', value: '' }],
        areas: [{ label: '請選擇行政區', value: '' }]
      },
      isCountDownShown: false
    }
  },

  watch: {
    'location.city' () {
      const cityData = citiesData.filter(city => city.name === this.location.city)[0]

      if (cityData) {
        this.options.areas = cityData.districts.map(area => ({ label: `${cityData.name}${area.name}`, value: area.name }))
        this.options.areas.unshift({ label: cityData.name, value: '', readonly: true })
        this.location.area = this.options.areas[0].value
      } else {
        this.options.areas = [{ label: '請選擇城市', value: '' }]
      }
    }
  },

  mounted () {
    const cities = citiesData.map((city) => city.name)

    cities.forEach(city => {
      this.options.cities.push({ label: city, value: city })
    })
  },

  methods: {
    setLocation (obj) {
      this.location.city = obj.city
      this.location.area = obj.area
    },

    onClickBackButton () {
      if (this.location.area) {
        this.location.area = ''
        this.$emit('input', this.location)
        return
      }

      if (this.location.city) {
        this.location.city = ''
        this.$emit('input', this.location)
        return
      }

      window.location.href = '/'
    },

    onClickCountDownButton () {
      this.isCountDownShown = !this.isCountDownShown
    },

    onInputLocation () {
      setTimeout(() => {
        this.$emit('input', this.location)
      })
    }
  }
}
</script>

<template>
  <div class="mobile-header relative">
    <div class="flex w-full items-center justify-between">
      <div>
        <button
          class="w-14 h-14 rounded-xs flex items-center justify-center border bg-white"
          style="border-color: #e0e8ed;"
          @click="onClickBackButton"
        >
          <img
            class="icon"
            src="@/assets/svg/election/back.svg"
          >
        </button>
      </div>

      <div class="flex-1">
        <div class="px-5">
          <select
            v-if="!location.city"
            v-model="location.city"
            class="c-select"
            @input="onInputLocation"
          >
            <option
              v-for="(option, optionIdx) in options.cities"
              :key="optionIdx"
              :value="option.value"
            >
              {{ option.label }}
            </option>
          </select>

          <select
            v-else
            v-model="location.area"
            class="c-select"
            @input="onInputLocation"
          >
            <option
              v-for="(option, optionIdx) in options.areas"
              :key="optionIdx"
              :value="option.value"
              :disabled="option.readonly"
            >
              {{ option.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="flex">
        <button
          class="w-14 h-14 rounded-xs flex items-center justify-center btn"
          style="background-color: #f1f6ff;"
          :class="{'btn--active': isCountDownShown}"
          @click="onClickCountDownButton"
        >
          <img
            class="icon"
            src="@/assets/svg/election/time.svg"
          >
        </button>
      </div>
    </div>

    <div class="relative">
      <transition name="fade">
        <div
          v-if="isCountDownShown"
          class="absolute w-full z-20 flex justify-center"
          style="background-color: rgba(247, 248, 253, 0.9);"
        >
          <PartialsCountDown />
        </div>
      </transition>
      <div
        v-if="isCountDownShown"
        class="fixed left-0 top-0 w-full h-full z-10"
        @click="isCountDownShown=false"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.btn {
  .icon {
    filter:
      brightness(0)
      saturate(100%)
      invert(45%)
      sepia(69%)
      saturate(4672%)
      hue-rotate(180deg)
      brightness(94%)
      contrast(101%);
  }

  &--active {
    background-color: #0089db;

    .icon {
      filter:
        brightness(0)
        saturate(100%)
        invert(100%)
        sepia(0%)
        saturate(0%)
        hue-rotate(93deg)
        brightness(103%)
        contrast(103%);
    }
  }
}

.c-select {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 12px;
  border: 1px solid #e0e8ed;
  border-radius: 5px;
  appearance: none;
}

</style>
