<script setup>
import placeholderImg from '@/assets/img/election/placeholder-img.png'
// import rank1 from '@/assets/img/election/index/rank-1.png'
// import rank2 from '@/assets/img/election/index/rank-2.png'
// import rank3 from '@/assets/img/election/index/rank-3.png'
// import fire from '@/assets/img/election/index/fire.png'
import { ELECTION } from '@/common/enum'
// import { numberWithCommas } from '@/common/utils'

const props = defineProps({
  data: {
    type: Object,
    required: true
  },
  index: {
    type: Number,
    default: 0,
    required: false
  },
  showTitle: {
    type: Boolean,
    default: false
  },
  showIndex: {
    type: Boolean,
    default: false
  }
})

const displayTitle = computed(() => {
  const suffix = ELECTION.SUFFIX[props.data.type]
  const decorate = props.data.type === 5 ? '' : props.data.region.name.slice(-1)
  return `${props.data.region.name}${decorate}${suffix}`
})

</script>
<template>
  <div class="flex items-center">
    <!-- <template v-if="showIndex">
      <div
        v-if="index === 0"
        class="flex justify-center items-center w-7"
      >
        <img
          class="w-full"
          :src="rank1"
        >
      </div>
      <div
        v-else-if="index === 1"
        class="flex justify-center items-center w-7"
      >
        <img
          class="w-full"
          :src="rank2"
        >
      </div>
      <div
        v-else-if="index === 2"
        class="flex justify-center items-center w-7"
      >
        <img
          class="w-full"
          :src="rank3"
        >
      </div>
      <div
        v-else
        class="text-3xl font-bold flex justify-center items-center w-7 h-8"
      >
        {{ index + 1 }}
      </div>
    </template> -->

    <div class="mx-3 xl:mx-4">
      <div
        class="w-20 2xl:w-16 xl:w-10 lg:w-16 rounded-full border border-gray-300 pb-[100%] bg-cover bg-center"
        :style="{backgroundImage: `url('${!!data.image ? data.image : placeholderImg}')`}"
      />
    </div>

    <div>
      <div
        v-if="showTitle"
        class="text-lg whitespace-nowrap mb-1 font-bold"
      >
        {{ displayTitle }}
      </div>
      <div class="mb-1">
        <NuxtLink
          :to="`/candidate/${data.id}`"
          class="flex items-center text-lg font-bold"
        >
          <div class="mr-2 flex md:w-auto">
            <div v-if="!!data.party.logo">
              <div
                class="w-5 rounded-full bg-cover pb-[100%]"
                :style="{backgroundImage: `url('${data.party.logo}')`}"
              />
            </div>
            <div
              v-if="!!data.number"
              class="ml-2 whitespace-nowrap"
            >
              {{ data.number }}號
            </div>
          </div>
          <div class="mr-2 whitespace-nowrap">
            {{ data.name }}
          </div>
          <div class="w-6 h-6">
            <IconSprite
              id="search"
              width="24"
              height="24"
            />
          </div>
        </NuxtLink>
      </div>
      <!-- <div class="font-bold flex items-center">
        <div class="w-4 mr-2">
          <img
            class="w-full"
            :src="fire"
          >
        </div>
        <span class="text-[#FC9501]">{{ numberWithCommas(data.count) }}</span>
      </div> -->
    </div>
  </div>
</template>
