<script setup>
import cities from '@/assets/TWCities.json'
import positions from '@/assets/positions.json'
import placeholderImg from '@/assets/img/election/placeholder-img.png'

defineExpose({ onClickOpenPopup, onClickClosePopup })

const props = defineProps({
  city: { type: String, default: '臺北市' },
  electionType: { type: String, default: '1' }
})
const screen = inject('screen')
const route = useRoute()
const isShowPopup = ref(false)
const form = reactive({ city: props.city, electionType: props.electionType })

const { data } = await useApi(
  () => `/api/election/candidate/list?city=${form.city}&electionType=${form.electionType}&area&year=2022`
)
const candidates = computed(() => {
  return data.value.filter(({ id }) => id !== route.params.id)
})
const position = computed(() => {
  if (screen.vw <= 768) {
    return 'bottom'
  }
  return 'center'
})

function onClickOpenPopup () {
  isShowPopup.value = true
}

function onClickClosePopup () {
  isShowPopup.value = false
}
</script>

<template>
  <var-popup
    v-model:show="isShowPopup"
    :overlay-style="{backgroundColor: 'rgba(34, 35, 35, 0.46)'}"
    :close-on-click-overlay="false"
    class="max-w-[80vw] max-h-[80vh] w-full h-full rounded bg-white md:max-w-full md:bottom-0 md:max-h-[70vh] flex flex-col"
    :style="{ '--popup-content-background-color': '#fafafa' }"
    :position="position"
  >
    <div class="text-center border-b border-gray-100 py-8 text-xl flex justify-center items-center relative">
      <div class="mx-auto">
        查看其他候選人
      </div>
      <span
        class="cursor-pointer absolute right-7"
        @click="onClickClosePopup"
      >
        <img src="@/assets/svg/icon-x.svg">
      </span>
    </div>
    <div class="p-6 overflow-y-auto h-[90vh]">
      <div class="grid gap-5 grid-cols-2 mb-8 md:mb-5 md:gap-4">
        <select
          v-model="form.city"
          class="w-full p-3 border border-gray-100 text-lg mb-2 c-select"
        >
          <option
            v-for="item in cities"
            :key="item"
            :value="item.name"
          >
            {{ item.name }}
          </option>
        </select>
        <select
          v-model="form.electionType"
          class="w-full p-3 border border-gray-100 text-lg mb-2 c-select"
        >
          <option
            v-for="item in positions"
            :key="item"
            :value="item.id"
          >
            {{ item.label }}
          </option>
        </select>
      </div>

      <div v-if="candidates.length === 0">
        <div class="py-12 text-center">
          查無候選人資料
        </div>
      </div>

      <ul
        v-else
        class="grid gap-4 grid-cols-4 md:grid-cols-3 md:gap-3"
      >
        <li
          v-for="(candidate, index) in candidates"
          :key="index"
        >
          <div class="mb-4">
            <div class="mb-2">
              <NuxtLink
                class="dialog__button text-sm"
                :to="`/candidate/${candidate.id}`"
              >
                <div
                  class="w-full overflow-hidden border border-gray-100 rounded cursor-pointer pb-[120%] bg-cover bg-center mb-2"
                  :style="{backgroundImage: `url('${!!candidate.image ? candidate.image : placeholderImg}')`}"
                />
              </NuxtLink>
            </div>
            <NuxtLink
              class="dialog__button text-sm"
              :to="`/candidate/${candidate.id}`"
            >
              <div class="flex justify-center text-lg md:text-base">
                <div
                  v-if="!!candidate.party.logo"
                  class="mr-2"
                >
                  <div
                    class="w-5 h-5 rounded-full bg-cover pb-[100%]"
                    :style="{backgroundImage: `url('${candidate.party.logo}')`}"
                  />
                </div>
                <span>
                  <span v-if="!!candidate.number">{{ candidate.number }}號</span>
                  <span>{{ candidate.name }}</span>
                </span>
              </div>
            </NuxtLink>
          </div>
        </li>
      </ul>
    </div>
  </var-popup>
</template>

<style lang="scss" scoped>
.c-select {
  background: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 12px;
  appearance: none;
}
</style>
