<script setup>
const props = defineProps({
  point: {
    type: Number,
    default: 0
  }
})

const level = computed(() => {
  if (props.point < 500000) {
    return 's'
  } else if (props.point > 500001 && props.point < 2000000) {
    return 'm'
  } else {
    return 'l'
  }
})

function numberWithCommas (x) {
  try {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
  } catch (error) {
    return x
  }
}
</script>

<template>
  <div class="flex items-end text-xl font-bold flex-wrap">
    <div class="mr-4">
      人氣熱度
    </div>
    <div
      v-for="index in 3"
      :key="index"
    >
      <template v-if="level === 'l'">
        <img
          class="mr-2"
          width="38"
          height="56"
          src="@/assets/img/candidate/fire-l.png"
        >
      </template>
      <template v-if="level === 'm'">
        <img
          class="mr-2"
          width="32"
          height="46"
          src="@/assets/img/candidate/fire-m.png"
        >
      </template>
      <template v-if="level === 's'">
        <img
          class="mr-2"
          width="25"
          height="36"
          src="@/assets/img/candidate/fire-s.png"
        >
      </template>
    </div>
    <div class="ml-2 text-[#DF3E13] md:w-full md:text-center md:my-3">
      {{ numberWithCommas(point) }}
    </div>
  </div>
</template>
