<script setup>

const props = defineProps({
  region: {
    type: String,
    required: true
  }
})

const { BASE_URL } = useRuntimeConfig().public
const codeMap = {
  彰化縣: 'CHA',
  嘉義縣: 'CYQ',
  新竹縣: 'HSQ',
  花蓮縣: 'HUA',
  宜蘭縣: 'ILA',
  金門縣: 'KIN',
  連江縣: 'LIE',
  苗栗縣: 'MIA',
  南投縣: 'NAN',
  澎湖縣: 'PEN',
  屏東縣: 'PIF',
  臺東縣: 'TTT',
  雲林縣: 'YUN',
  嘉義市: 'CYI',
  新竹市: 'HSZ',
  基隆市: 'KEE',
  高雄市: 'KHH',
  新北市: 'NWT',
  桃園市: 'TAO',
  臺南市: 'TNN',
  臺北市: 'TPE',
  臺中市: 'TXG'
}

const imagePath = computed(() => {
  if (!props.region) {
    return ''
  }

  return `/region_bg/${codeMap[props.region]}.png`
})

</script>

<template>
  <div
    class="absolute top-10 sm:top-16 left-1/2 -translate-x-1/2 w-full bg-contain bg-no-repeat pb-[90%] max-w-[1000px]"
    :style="{backgroundImage: `url('${BASE_URL}${imagePath}')`}"
  />
</template>
