<script setup>
const props = defineProps({
  sectionTitle: {
    type: String,
    default: '相關影音'
  },
  videoList: {
    type: Array,
    default: () => [],
    required: true
  },
  candidateName: {
    type: String,
    default: ''
  },
  moreLink: {
    type: String,
    default: ''
  }
})
const renderVideoPlayer = ref(true)
const currentPlay = ref(0)
const onClickVideo = (index) => {
  currentPlay.value = index
  renderVideoPlayer.value = false

  nextTick(() => {
    renderVideoPlayer.value = true
  })
}
const videoSource = computed(() => {
  return props.videoList[currentPlay.value].src
})

</script>
<template>
  <div>
    <div class="text-2xl mb-6">
      {{ sectionTitle }}
    </div>
    <div class="flex flex-wrap">
      <div class="w-8/12 pr-6 lg:w-full lg:pr-0 lg:mb-4">
        <VideoPlayer
          v-if="renderVideoPlayer"
          :source="videoSource"
        />
      </div>
      <div class="w-4/12 lg:w-full">
        <LazyElectionRelatedVideoList
          :video-list="videoList"
          :section-title="`${candidateName}最相關`"
          :more-link="moreLink"
          @click-video="onClickVideo"
        />
      </div>
    </div>
  </div>
</template>
