<script setup>
import avatarDefault from '@/assets/svg/avatar_default.svg'
import { useCommentStore } from '@/store/comment'

const props = defineProps({
  id: {
    type: String,
    required: true
  },
  isOpen: {
    type: Boolean,
    default: false
  },
  userData: {
    type: Object,
    default: () => ({})
  }
})

const commentStore = useCommentStore()

const isLogin = computed(() => {
  return props.userData.isLoggedIn
})

const userAvatar = computed(() => {
  return props.userData.avatar || avatarDefault
})

const form = reactive({
  msg: '',
  anonymous: false
})

const emit = defineEmits(['close'])

const onClickClose = () => {
  emit('close')
}

const route = useRoute()
const { goLogin } = useAuth(route.fullPath)

function onSubmit () {
  if (!form.msg) {
    return
  }

  commentStore.add(form).then(clear)
}

function clear () {
  form.msg = ''
}
</script>

<template>
  <transition name="fade">
    <div
      v-show="isOpen"
      class="absolute right-0 top-30 z-50 md:w-screen md:left-0 md:right-0 md:fixed md:bottom-0"
    >
      <div class="bg-white rounded w-[600px] md:w-full drop-shadow">
        <div class="text-center border-b border-gray-100 py-6 font-bold text-2xl">
          為你的候選人點起勝利之火
        </div>

        <div class="py-6 px-10 lg:px-5 lg:py-3">
          <div class="flex items-center justify-between max-w-[500px] mx-auto mb-12 lg:mb-6 relative p-6">
            <div class="cursor-pointer">
              <img
                width="70"
                height="70"
                src="@/assets/img/candidate/fire-1.png"
              >
            </div>
            <div class="cursor-pointer">
              <img
                width="70"
                height="70"
                src="@/assets/img/candidate/fire-5.png"
              >
            </div>
            <div class="cursor-pointer">
              <img
                width="70"
                height="70"
                src="@/assets/img/candidate/fire-100.png"
              >
            </div>

            <template v-if="!isLogin">
              <div class="absolute w-full h-full flex items-center justify-center left-0 top-0">
                <div class="absolute w-full h-full left-0 top-0 bg-black opacity-70 block" />
                <button
                  class="px-6 py-3 text-center z-10 bg-primary text-white"
                  @click="goLogin()"
                >
                  登入加熱度
                </button>
              </div>
            </template>
          </div>

          <div class="mb-12">
            <div class="flex flex-wrap mb-2">
              <div class="mr-3 my-3">
                <BaseAvatar
                  :source="form.anonymous ? '' : userAvatar"
                  class="w-12"
                />
              </div>
              <textarea
                v-model.trim="form.msg"
                class="flex-1 border border-gray-300 p-3 rounded-xs text-lg min-h-[60px]"
                rows="2"
                :placeholder=" form.anonymous ? '不用登入立即幫候選人留言打氣...' : '跟支持的候選人說說話...'"
              />
            </div>

            <template v-if="isLogin">
              <div class="flex items-center justify-end">
                <input
                  v-model="form.anonymous"
                  class="input-checkbox mr-2"
                  type="checkbox"
                >
                <span class="text-xl">使用訪客模式留言</span>
              </div>
            </template>
          </div>

          <div class="flex justify-center">
            <BaseButton
              class="mr-6 py-5 px-11 rounded border border-gray-300 bg-primary text-white text-lg"
              :disabled="!form.msg"
              @click="onSubmit"
            >
              送出
            </BaseButton>
            <button
              class="py-5 px-11 rounded border border-gray-300 text-lg"
              @click="onClickClose"
            >
              關閉
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
