<script setup>
// import RelatedVideos from '@/blocks/election/candidate/RelatedVideos'
import placeholderImg from '@/assets/img/election/placeholder-img.png'

import { useUserStore } from '@/store/user'
import { ELECTION } from '@/common/enum'

definePageMeta({ layout: 'election' })

const route = useRoute()
const userData = useUserStore()

const isSupportModalOpen = ref(false)
const otherCandidate = ref(null)
const screen = inject('screen')
const electionItem = inject('electionItem')

// methods
const onClickToggleSupportModal = () => {
  isSupportModalOpen.value = !isSupportModalOpen.value
}

const onClickWatchOtherCandidate = () => {
  otherCandidate.value.onClickOpenPopup()
}

// apis
const { data: pageData } = await useApi(`/api/election/candidate/${route.params.id}`)
const { data: marquee } = await useApi('/api/news/marquee', { lazy: true })
const { candidate } = pageData.value

// computes
const cssVars = computed(() => {
  return {
    '--txt-color': candidate.party.txt_color
  }
})
const age = computed(() => {
  const birthdate = new Date(candidate.birthdate)
  const today = new Date()
  const age = today.getFullYear() - birthdate.getFullYear()
  const m = today.getMonth() - birthdate.getMonth()
  if (m < 0 || (m === 0 && today.getDate() < birthdate.getDate())) {
    return age - 1
  }
  return age
})
const displayTitle = computed(() => {
  const suffix = ELECTION.SUFFIX[candidate.type]
  const decorate = candidate.type === 5 ? '' : candidate.region.name.slice(-1)
  if (candidate.type === 2) {
    return `${candidate.party.name} - ${candidate.region.name}${candidate.group_name}${decorate}${suffix}`
  }
  return `${candidate.party.name} - ${candidate.region.name}${decorate}${suffix}`
})
const pageTitle = computed(() => {
  const suffix = ELECTION.SUFFIX[candidate.type]
  return `2022九合一大選：${candidate.region.name}${suffix}_${candidate.name} | 中天新聞網`
})
const isScrolled = computed(() => {
  return screen.scrollTop > 0
})
const isOpeningBallot = computed(() => {
  return electionItem.use_model === 2
})

useHead({
  title: pageTitle,
  meta: [
    { property: 'og:title', content: pageTitle }
  ]
})
</script>

<template>
  <div :style="cssVars">
    <div class="mb-3">
      <NewsMarquee
        :feed="marquee || []"
        target="_blank"
        title="快訊"
        class="max-w-[1680px] bg-black mx-auto"
      />
    </div>

    <div class="l-container relative mb-10">
      <BackToIndex
        skip-loading
        class="absolute top-10 z-20 md:hidden"
      />

      <div class="absolute md:relative right-4 md:right-0 top-0 w-[600px] md:w-auto text-right z-30">
        <div class="mb-10 max-w-[300px] ml-auto md:hidden">
          <PartialsCountDown />
        </div>

        <div
          v-if="isOpeningBallot"
          class="md:text-center md:hidden"
        >
          <NuxtLink
            class="inline-block bg-red-300 p-5 drop-shadow border border-gray-100 mb-4 text-white hover:bg-white hover:text-red-300 transition w-[210px]"
            to="/ballot"
          >
            <div class="flex items-center justify-center">
              <span>前往即時開票</span>
              <IconSprite
                id="chevron-right"
                width="24"
                height="24"
                class="ml-2"
              />
            </div>
          </NuxtLink>
        </div>

        <div class="md:text-center">
          <button
            class="bg-white p-5 drop-shadow border border-gray-100 mb-10 md:mb-0 hover:bg-[#0189DB] hover:text-white transition w-[210px]"
            @click="onClickWatchOtherCandidate"
          >
            <div class="flex items-center justify-center">
              <span>查看其他候選人</span>
              <IconSprite
                id="chevron-right"
                width="24"
                height="24"
                class="ml-2"
              />
            </div>
          </button>
        </div>

        <div class="relative z-10 text-left xl:text-right md:hidden">
          <CandidateSupportModal
            :id="$route.params.id"
            :user-data="userData"
            :is-open="isSupportModalOpen"
            @close="isSupportModalOpen = false"
          />
        </div>
      </div>

      <div class="max-w-[700px] z-10 md:z-40 relative">
        <div class="flex flex-wrap items-center pt-60 mb-6 md:pt-14 md:mb-4 md:justify-center">
          <div
            class="w-36 h-36 rounded-full xl:mr-0 xl:mb-5 mr-10 border border-gray-300 bg-cover bg-center"
            :style="{backgroundImage: `url('${!!candidate.image ? candidate.image : placeholderImg}')`}"
          />

          <div class="xl:w-full">
            <div class="flex items-center text-xl mb-3 md:justify-center">
              <div
                v-if="!!candidate.party.logo"
                class="mr-2"
              >
                <img
                  :src="candidate.party.logo"
                  width="20"
                  height="20"
                >
              </div>
              <div class="md:text-base">
                {{ displayTitle }}
              </div>
            </div>

            <div class="flex items-center md:justify-center md:mb-5">
              <div
                v-if="!!candidate.number"
                class="flex items-center justify-center w-14 h-14 md:w-8 md:h-8 rounded-full text-white text-6xl md:text-xl mr-4 number"
              >
                {{ candidate.number }}
              </div>
              <div class="text-[76px] name md:text-6xl md:font-bold">
                {{ candidate.name }}
              </div>
            </div>

            <div class="md:block hidden">
              <CandidatePopularFire
                :point="candidate.count"
                class="md:justify-center"
              />
            </div>
          </div>
        </div>

        <div
          class="cursor-pointer hidden md:block"
          @click="onClickToggleSupportModal"
        >
          <img
            src="@/assets/img/candidate/btn_fire.png"
            width="212"
            height="62"
            class="mx-auto"
          >
        </div>

        <div class="w-[100px] bg-primary h-1 mb-10 md:hidden" />

        <div class="mb-16 md:mb-8">
          <div class="flex items-center my-6">
            <span class="mr-2">
              <IconSprite
                id="calendar"
                width="24"
                height="24"
              />
            </span>
            <span>出生日期：</span>
            <span>
              <template v-if="!!candidate.birthdate">
                {{ candidate.birthdate }} ({{ age }} 歲)
              </template>
              <template v-else>
                暫無資料
              </template>
            </span>
          </div>

          <div
            class="flex items-center my-6"
          >
            <span class="mr-2">
              <IconSprite
                id="education"
                width="24"
                height="24"
              />
            </span>
            <span>教育：</span>
            <span>
              <template v-if="!!candidate.education">
                {{ candidate.education }}
              </template>
              <template v-else>
                暫無資料
              </template>
            </span>
          </div>
        </div>

        <div class="mt-8 md:mb-6">
          <template v-if="!!candidate.experience">
            <div
              class="whitespace-pre-line leading-10"
              v-html="candidate.experience"
            />
          </template>
          <template v-else>
            <div>
              暫無資料
            </div>
          </template>
        </div>
      </div>

      <client-only>
        <CandidateRegionBackground :region="candidate.region.name" />
      </client-only>

      <!-- TODO: 配合 demo 隱藏 -->
      <!-- <div class="half-body absolute -z-10 top-0 right-0">
        <img :src="candidate.image">
      </div> -->

      <!-- TODO: 配合 demo 隱藏 -->
      <!-- <div class="mt-28 md:mt-14">
        <LazyElectionRelatedNews :data="relatedNews" />
      </div> -->

      <!-- TODO: 配合 demo 隱藏 -->
      <!-- <div class="mt-16">
        <RelatedVideos
          section-title="相關影音"
          :video-list="relatedVideos"
          candidate-name="蔣萬安"
          more-link="https://google.com"
        />
      </div> -->

      <div class="mt-16 z-1 relative">
        <div class="w-8/12 lg:w-full pr-6 lg:pr-0">
          <MessageBoard
            :id="$route.params.id"
            title="留言衝人氣"
            :placeholder="userData.isLoggedIn ? '跟支持的候選人說說話...' : '不用登入立即幫候選人留言打氣...'"
            type="candidate"
          />
        </div>
      </div>
    </div>

    <client-only>
      <CandidateOtherCandidate
        ref="otherCandidate"
        :city="candidate.region.name"
        :election-type="`${candidate.type}`"
      />
    </client-only>

    <Transition name="fade">
      <div
        v-if="!isScrolled"
        class="fixed left-1/2 bottom-5 z-1 -translate-x-1/2 floating md:bottom-16"
      >
        <img src="@/assets/svg/election/scroll.svg">
      </div>
    </Transition>

    <CandidateSupportModal
      :id="$route.params.id"
      :user-data="userData"
      :is-open="isSupportModalOpen"
      class="hidden md:block z-[100]"
      @close="isSupportModalOpen = false"
    />

    <div class="hidden w-screen md:block md:fixed bottom-0 left-0 z-50 text-lg">
      <div class="flex">
        <div class="flex-1 bg-theme-2 h-full">
          <NuxtLink
            class="h-[66px] flex items-center justify-center text-white hover:text-white hover:opacity-80"
            to="/?skipLoading=true"
          >
            回選舉首頁
          </NuxtLink>
        </div>

        <div
          v-if="isOpeningBallot"
          class="flex-1 bg-[#E42F4F] h-full"
        >
          <NuxtLink
            class="h-[66px] flex items-center justify-center text-white hover:text-white hover:opacity-80"
            to="/ballot"
          >
            回即時開票
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.number {
  background-color: var(--txt-color);
}

.name {
  color: var(--txt-color);
}

.bg {
  @media (max-width: theme('screens.xl.max')) {
    width: 500px;
    height: 598px;
  }

  @media (max-width: theme('screens.lg.max')) {
    width: 333px;
    height: 399px;
  }
}

.half-body {
  @media (max-width: theme('screens.xl.max')) {
    width: 397px;
    height: 473px;
  }

  @media (max-width: theme('screens.lg.max')) {
    width: 265px;
    height: 316px;
  }
}

.btn {
  background-color: #f1f6ff;

  .icon {
    filter:
      brightness(0)
      saturate(100%)
      invert(45%)
      sepia(69%)
      saturate(4672%)
      hue-rotate(180deg)
      brightness(94%)
      contrast(101%);
  }

  &--active {
    background-color: #0089db;

    .icon {
      filter:
        brightness(0)
        saturate(100%)
        invert(100%)
        sepia(0%)
        saturate(0%)
        hue-rotate(93deg)
        brightness(103%)
        contrast(103%);
    }
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
</style>
