<script setup>
import VueCountdown from '@chenfengyuan/vue-countdown'
import dayjs from 'dayjs'

const des = dayjs('2022-11-26').valueOf() - dayjs().valueOf()
let countdownTimes = 0

if (des > 0) {
  countdownTimes = des
}
</script>

<template>
  <div class="countdown-block">
    <div
      class="mb-3 flex items-center"
      style="font-size: 16px;"
    >
      <span class="mr-3">距離投票日</span>
      <div class="font-black">
        2022/11/26
      </div>
    </div>
    <client-only>
      <VueCountdown
        v-slot="{ days, hours, minutes, seconds }"
        :time="countdownTimes"
      >
        <div class="countdown-block__list grid grid-cols-4 gap-3">
          <div class="countdown-block__list-item">
            <div class="countdown-block__card">
              <div class="number">
                {{ days }}
              </div>
              <div class="unit">
                日
              </div>
            </div>
          </div>
          <div class="countdown-block__list-item">
            <div class="countdown-block__card">
              <div class="number">
                {{ hours }}
              </div>
              <div class="unit">
                時
              </div>
            </div>
          </div>
          <div class="countdown-block__list-item">
            <div class="countdown-block__card">
              <div class="number">
                {{ minutes }}
              </div>
              <div class="unit">
                分
              </div>
            </div>
          </div>
          <div class="countdown-block__list-item">
            <div class="countdown-block__card">
              <div class="number">
                {{ seconds }}
              </div>
              <div class="unit">
                秒
              </div>
            </div>
          </div>
        </div>
      </VueCountdown>
    </client-only>
  </div>
</template>

<style lang="scss" scoped>
.countdown-block {
  width: 100%;
  padding: 20px 10%;

  @media (max-width: 768px) {
    padding: 20px 5%;
  }

  &__list-item {
    padding-bottom: 15px;
  }

  &__card {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    border: 1px solid rgba(159, 189, 201, 0.7);
    border-radius: 4px;

    .number {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-bottom: 5px;
      font-size: 24px;
      font-weight: 900;
      line-height: 0;
      transform: translate(-50%, -50%);

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }

    .unit {
      position: absolute;
      bottom: -30px;
      width: 100%;
      font-size: 16px;
      text-align: center;
    }
  }
}

</style>
