<template>
  <div class="map-block block">
    <div class="city-map-block">
      <svg
        id="target"
        class="map-block__map taiwan-map js-taiwan-map"
        :class="{ 'city-selected': result.city !== '', 'city-area-selected': result.area !== '' }"
        width="100%"
        height="100%"
      >
        <!-- draw with d3.js -->
      </svg>
      <div id="tooltip" />
    </div>
  </div>
</template>

<script>
import cityTopo from '~/assets/topo/city'
import areaTopo from '~/assets/topo/cityarea'
import * as d3 from 'd3'
import * as topojson from 'topojson-client'

import debounce from 'lodash/debounce.js'
import { storeToRefs } from 'pinia'
import { useAreaStore } from '@/store/area'

const CITIES = topojson.feature(cityTopo, cityTopo.objects.COUNTY_MOI_1090820)
const CITY_AREAS = topojson.feature(areaTopo, areaTopo.objects.TOWN_MOI_1100415)

export default {
  emits: ['change'],

  setup () {
    const areaStore = useAreaStore()
    const { areas } = storeToRefs(areaStore)

    return {
      areaStore,
      areas
    }
  },

  data () {
    return {
      result: {
        city: '',
        area: ''
      },
      map: {
        zoom: d3.zoom()
      }
    }
  },

  computed: {
    activeAreas () {
      const { city, area } = this.result
      const areas = this.areas
      const index = areas.findIndex(electionArea => electionArea.region === `${city}${area}`)

      if (index === -1) {
        return [area]
      }

      return areas[index].towns.map(town => town.town_name)
    }
  },

  watch: {
    result: {
      handler (result) {
        this.areaStore.fetch(result.city)
      },
      deep: true
    },

    activeAreas (areas) {
      this.removeActiveClass()
      this.addActiveClass(this.result.city, areas)
    }
  },

  mounted () {
    this.init()
    this.draw()

    if (this.deviceType() === 'desktop') {
      window.addEventListener('resize', debounce(() => {
        this.destroyMap()
        this.draw()
      }))
    }
  },

  methods: {
    init () {
      const city = this.$route.query.city || ''
      const area = this.$route.query.area || ''

      if (!this.$route.query.city && !this.$route.query.area) {
        return
      }

      this.result.city = city
      this.result.area = area
      this.$emit('change', this.result)
    },

    draw () {
      const svg = d3.select('#target')
      const container = svg.append('g')
      const width = document.querySelector('.js-taiwan-map').clientWidth
      const height = document.querySelector('.js-taiwan-map').clientHeight
      const path = d3.geoPath().projection
      const projection = d3.geoMercator().fitExtent([[0, 0], [width, height]], CITIES)

      const centroid = (d) => {
        return path(projection).centroid(d)
      }

      container
        .selectAll('.area-path')
        .data(CITY_AREAS.features)
        .enter()
        .append('path')
        .attr('data-city', function (d) { return d.properties.COUNTYNAME })
        .attr('data-city-area', function (d) { return d.properties.TOWNNAME })
        .attr('data-centroid', function (d) { return centroid(d) })
        .attr('class', function (d) { return 'area-path js-area-path' })
        .attr('d', path(projection))
        .on('mousemove', this.onMouseMovePath).on('mouseout', this.onMouseOutPath)

      container
        .selectAll('.city-path')
        .data(CITIES.features)
        .enter()
        .append('path')
        .attr('data-city', function (d) { return d.properties.COUNTYNAME })
        .attr('data-city-area', function (d) { return '' })
        .attr('data-centroid', function (d) { return centroid(d) })
        .attr('class', function (d) { return 'city-path js-city-path' })
        .attr('d', path(projection))
        .on('mousemove', this.onMouseMovePath).on('mouseout', this.onMouseOutPath)

      this.bindPathEvent()
      this.bindZoomEvent()

      if (this.result.city === '' && this.result.area === '') {
        this.resetZoom()
      } else {
        this.areaStore.fetch(this.result.city)
        this.zoom(this.result)
      }
    },

    destroyMap () {
      const container = d3.select('#target g')
      container.remove()
    },

    bindZoomEvent () {
      d3.select('svg').call(this.map.zoom.on('zoom', (event) => {
        d3.select('#target g').attr('transform', event.transform)
      }))
    },

    bindPathEvent () {
      const cities = document.querySelectorAll('.js-city-path')
      const cityAreas = document.querySelectorAll('.js-area-path')

      cities.forEach(el => {
        el.addEventListener('click', this.onClickCityPath)
      })

      cityAreas.forEach(el => {
        el.addEventListener('click', this.onClickCityAreaPath)
      })
    },

    onMouseMovePath (d) {
      const city = d.target.__data__.properties.COUNTYNAME
      const area = d.target.__data__.properties.TOWNNAME || ''

      d3.select('#tooltip').transition().duration(200).style('opacity', 0.9)

      d3.select('#tooltip').html(`${city}${area}`)
        .style('left', (d.screenX) + 'px')
        .style('top', (d.screenY - 200) + 'px')
    },

    onMouseOutPath (d) {
      d3.select('#tooltip').transition().duration(500).style('opacity', 0)
    },

    onClickCityPath (e) {
      const target = e.target
      const props = target.__data__.properties
      const city = props.COUNTYNAME

      this.zoom({ city, area: '' })
    },

    onClickCityAreaPath (e) {
      const target = e.target
      const props = target.__data__.properties
      const city = this.result.city
      const area = props.TOWNNAME

      this.zoom({ city, area })
    },

    zoom (target) {
      const { city, area } = target
      const url = new URL(window.location.href)
      const path = d3.select(`path[data-city="${city}"][data-city-area="${area}"]`)
      const [x, y] = path.attr('data-centroid').split(',') || [0, 0]
      const k = 20

      if (path.empty()) {
        this.resetZoom()
        alert('找不到對應區域')
        return
      }

      if (area) {
        this.result.city = city
        this.result.area = area
        url.searchParams.set('city', city)
        url.searchParams.set('area', area)
      } else {
        this.result.city = city
        this.result.area = ''
        url.searchParams.set('city', city)
        url.searchParams.delete('area')
      }

      window.history.pushState({}, '', url)

      d3.select('svg').transition().duration(500).call(this.map.zoom.translateTo, x, y)
      d3.select('svg').transition().duration(500).delay(500).call(this.map.zoom.scaleTo, k)
      this.map.zoom.scaleExtent([k, k])
      this.$emit('change', this.result)
    },

    resetZoom () {
      // 目前取不太到地圖的中心點座標，所以只能先使用南投縣的座標當作地圖圓心點（這做法不太優）
      const [x, y] = d3.select('[data-city="南投縣"]').attr('data-centroid').split(',')
      const k = 3

      d3.select('svg').transition().duration(500).call(this.map.zoom.scaleTo, k)
      d3.select('svg').transition().duration(500).delay(500).call(this.map.zoom.translateTo, x * 1.03, y * 1.1)
      this.map.zoom.scaleExtent([k, k])
      this.result.city = ''
      this.result.area = ''
    },

    addActiveClass (city, cityAreas) {
      const $city = document.querySelector(`path[data-city="${city}"][data-city-area=""]`)

      if ($city) {
        $city.classList.add('active')
      }

      cityAreas.forEach(area => {
        const $area = document.querySelector(`path[data-city="${city}"][data-city-area="${area}"]`)
        if ($area) {
          document.querySelector(`path[data-city="${city}"][data-city-area="${area}"]`).classList.add('active')
        }
      })
    },

    removeActiveClass () {
      document.querySelectorAll('.js-city-path, .js-area-path').forEach(el => {
        el.classList.remove('active')
      })
    },

    reset () {
      const url = new URL(window.location.href)

      url.searchParams.delete('city')
      url.searchParams.delete('area')
      window.history.pushState({}, '', url)

      this.result.city = ''
      this.result.area = ''

      this.resetZoom()
      this.removeActiveClass()
      this.$emit('change', this.result)
    },

    deviceType () {
      const ua = navigator.userAgent
      if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
        return 'tablet'
      } else if (/Mobile|Android|iP(hone|od)|IEMobile|BlackBerry|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
        return 'mobile'
      }
      return 'desktop'
    }
  }
}
</script>

<style lang="scss" scoped>
.map-block {
  width: 100%;
  height: 100%;
}

.city-map-block {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

#tooltip {
  position: fixed;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  opacity: 0;
}
</style>

<style lang="scss">
  .city-map-block {
    .taiwan-map {
      .city-path {
        cursor: pointer;
        fill: #f97f94;
        stroke: #fff;
        stroke-width: 0.05px;
        transition: 0.5s ease;

        &:hover {
          fill: #f54278;
        }

        &.active {
          pointer-events: none;
          fill: transparent;
          stroke: yellow;
          stroke-width: 0.1px;
          transition-delay: 1s;
        }
      }

      .area-path {
        cursor: pointer;
        fill: #f87289;
        stroke: #fff;
        stroke-width: 0.03px;

        &:hover {
          fill-opacity: 0.9;
        }

        &.active {
          stroke: yellow;
          stroke-width: 0.1px;
        }
      }

      &.city-area-selected {
        .city-path {
          &.active {
            stroke-width: 0;
          }
        }

        .area-path:not(.active) {
          fill: #fba0b1;

          &:hover {
            fill: #f54278;
          }
        }
      }

      &.city-selected {
        .city-path:not(.active) {
          fill: #e693a2;

          &:hover {
            fill: #f54278;
          }
        }
      }
    }
  }
</style>
