<script setup>
const { MAIN_ORIGIN } = useRuntimeConfig().public

const menuItems = [
  {
    text: '回選舉首頁',
    href: '/?skipLoading=true'
  },
  {
    text: '回中天新聞網',
    href: `${MAIN_ORIGIN}/`
  },
  {
    text: '使用條款',
    href: `${MAIN_ORIGIN}/terms`
  },
  {
    text: '隱私權政策',
    href: `${MAIN_ORIGIN}/privacy`
  },
  {
    text: '免責聲明',
    href: `${MAIN_ORIGIN}/disclaimer`
  }
]
</script>

<template>
  <footer class="mt-16 mb-4">
    <ul class="flex flex-wrap justify-center font-medium lg:text-sm">
      <template
        v-for="(item, idx) in menuItems"
        :key="item.href"
      >
        {{ idx !== 0 ? '｜' : null }}
        <li
          class="md:my-1"
        >
          <NuxtLink
            :to="item.href"
            target="_blank"
          >
            {{ item.text }}
          </NuxtLink>
        </li>
      </template>
    </ul>
  </footer>
</template>
