<script setup>
// import DesktopHeader from '@/components/header/Desktop'
// import MobileHeader from '@/components/header/Mobile'
</script>

<template>
  <div>
    <div class="md:hidden">
      <HeaderDesktop />
    </div>
    <div class="md:block hidden">
      <HeaderMobile />
    </div>
  </div>
</template>
