<template>
  <div>
    <div class="tip">
      <div
        class="box"
        :style="`max-width: ${width}`"
      >
        <div class="box-message">
          {{ message }}
        </div>
        <div class="box-point" />
        <div class="box-pointer">
          <img src="@/assets/svg/pointer.svg">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: String,
      default: ''
    },
    width: {
      type: String,
      default: '100%'
    }
  }
}
</script>

<style lang="scss" scoped>
.tip {
  .box {
    position: relative;
  }

  .box-message {
    position: relative;
    z-index: 1;
    padding: 10px;
    font-size: 13px;
    color: #320754;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(34, 35, 35, 0.15);
    animation: box-message 3s ease 0s infinite;

    @keyframes box-message {
      0% { transform: translateY(0); }
      50% { transform: translateY(-2px); }
      100% { transform: translateY(0); }
    }

    &::after {
      position: absolute;
      right: 10%;
      bottom: -2em;
      z-index: -1;
      width: 0;
      height: 0;
      margin-left: -15px;
      pointer-events: none;
      content: '';
      border: solid transparent;
      border-width: 15px;
      border-top-color: #fff;
    }
  }

  .box-pointer {
    position: absolute;
    right: -1%;
    bottom: -5em;
    z-index: 1;
  }

  .box-point {
    position: absolute;
    right: 10%;
    bottom: -2em;
    z-index: -1;
    width: 30px;
    height: 30px;
    background-color: #f5a623;
    border: 3px solid;
    border-radius: 50%;
    animation: box-point 2s ease 0s infinite;

    @keyframes box-point {
      0% { transform: scale(1); }
      50% { transform: scale(0.9); }
      100% { transform: scale(1); }
    }
  }
}

</style>
